<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../css/button.css" />
  </head>
  <body>
    <div id="button-wrapper">
      <button id="enroll-btn-format" class="btn-setting-format">등록</button>
      <button id="edit-btn-format" class="btn-setting-format">수정</button>
      <button id="delete-btn-format" class="btn-setting-format">삭제</button>
    </div>
  </body>
</html>
