<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../css/format.css" />
  </head>
  <body id="content-wrapper">
    <div id="header">
      <div id="nav-wrapper">
        <div id="top-logo">
          <h1>수강생 관리 시스템</h1>
        </div>
        <ul id="nav-ul">
          <li id="nav-notification" class="nav-li">
            <a href="#notifications">공지사항</a>
          </li>
          <li id="nav-course" class="nav-li">
            <a href="#courses">과정 관리</a>
          </li>
          <li id="nav-certification" class="nav-li">
            <a href="#certifications">수료증 관리</a>
          </li>
          <li id="nav-scholarship" class="nav-li">
            <a href="#scholarships">장학금 관리</a>
          </li>
          <li id="nav-benefit" class="nav-li">
            <a href="#benefits">훈련수당 관리</a>
          </li>
          <li id="nav-student" class="nav-li">
            <a href="#students">수강생 관리</a>
          </li>
        </ul>
        <div id="header-btns">
          <div class="btn-wrapper">
            <button id="logout-btn" type="button">로그아웃</button>
          </div>
          <div class="btn-wrapper" id="setting-btn-wrapper">
            <button id="setting-btn" type="button"></button>
          </div>
        </div>
      </div>
    </div>
    <section id="title-wrapper">
      <h2 id="title">공지사항</h2>
    </section>
    <section id="content-section">
      <article class="page-information">
        <div class="cnt-pages">
          <span>총 72개 (1 to 5)</span>
        </div>
      </article>
    </section>
    <footer></footer>
  </body>
</html>
