<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body th:fragment="header">
<div id="header">
    <div id="nav-wrapper">
        <a id="top-logo" href="/ems">
            <img src="../../assets/edu_logo.png" alt=""/>
        </a>
        <ul id="nav-ul">
            <li id="nav-notification" class="nav-li">공지사항</li>
            <li id="nav-course" class="nav-li">과정 관리</li>
            <li id="nav-student" class="nav-li">수강생 관리</li>

            <li id="nav-employment" class="nav-li">취업 관리</li>
            <li id="nav-scholarship" class="nav-li">장학금 관리</li>

            <li id="nav-benefit" class="nav-li">지원금 관리</li>
        </ul>
        <div id="header-btns">

            <span th:object="${#authentication.principal}" th:text="*{name} + '(' + *{academyLocation} + ' 강의장)'"></span>

            <form action="/manager/logout" method="post">
                <button id="logout-btn" type="submit">로그아웃</button>
            </form>
        </div>
    </div>
    <script src="../../scripts/common.js"></script>
    <div th:insert="~{common/headerDropdown :: dropdown}"></div>
</div>
<script type="text/javascript" th:src="@{/scripts/common.js}"></script>
</body>
</html>
