<!DOCTYPE html>
<html lang="en">
  <head>
  </head>
  <body>
  <div id="nav-wrapper-dropdown" th:fragment = "dropdown" style="display: none" >
    <div id="top-logo">
    </div>
    <ul id="dropdown-nav-ul">
      <li id="nav-notification" class="nav-li-dropdown">
        <div class="line"></div>
        <a href="/ems/notifications">공지사항</a>
      </li>
      <li id="nav-course" class="nav-li-dropdown">
        <div class="line"></div>
        <a href="/ems/courses">과정 관리</a>
      </li>
       <li id="nav-student" class="nav-li-dropdown">
        <div class="line"></div>
        <a href="/ems/students">수강생 정보</a>
        <a href="/ems/attendances">출결 조회</a>
        <a href="/ems/attendances/add">출결 입력</a>
      </li>
      <li id="nav-employment" class="nav-li-dropdown">
       <div class="line"></div>
       <a href="/ems/employments">수강생 취업 관리</a>
       <a href="/ems/employments/data">취업 현황</a>

       </li>
      <li id="nav-scholarship" class="nav-li-dropdown">
        <div class="line"></div>
        <a href="/ems/scholarships">장학금 정산</a>
        <a href="/ems/scholarships/results">정산 결과 조회</a>
          <a href="/ems/points">포인트 관리</a>
      </li>
      <li id="nav-benefit" class="nav-li-dropdown">
        <div class="line"></div>
        <a href="/ems/benefits">지원금 정산</a>
        <a href="/ems/benefits/result">정산 결과 조회</a>
      </li>
    </ul>
    <div id="header-btns">
      <div></div>
      <div></div>
    </div>
  </div>
  </div>
  <script type="text/javascript" th:src="@{/scripts/common.js}"></script>
  </body>
</html>
