<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../css/format.css" />
    <link rel="stylesheet" href="../../css/courses.css" />
    <script src="https://code.jquery.com/jquery-3.7.1.slim.js"
            integrity="sha256-UgvvN8vBkgO0luPSUl2s8TIlOSYRoGFAX4jlCIm9Adc=" crossorigin="anonymous"></script>  </head>
  <body id="content-wrapper">
    <div th:insert="~{common/header :: header}"></div>
    <div th:insert="~{common/title :: title ('과정 관리')}"></div>
    <section id="content-section">
      <article id="courseBoard-btns-container">
        <div id="courseBoard-btn-wrapper">
          <button id="enroll-btn" class="btn-setting">등록</button>
          <button id="delete-btn" class="btn-setting">삭제</button>
        </div>
        <div class="search-form-wrapper">
          <!-- form???? -->
          <select name="courseId-filter" class="data-filter">
            <option value="none">기수</option>
            <div style="display: contents;" th:each="courseNumber: ${courseNumberList}">
              <option th:text="${courseNumber}" th:attr="value=${courseNumber}">기수 alt</option>
            </div>
          </select>
          <select name="location-filter" class="data-filter">
            <option value="true">종료된 강의 미포함</option>
            <option value="false">종료된 강의 포함</option>
          </select>
          <button type="button" class="filter-search-btn">검색</button>
        </div>
      </article>
      <article>
        <div id="courseBoard-table">
          <div class="courseBoard-row" id="courseBoard-title-row">
            <div id="courseBoard-no">
              <input type="checkbox" name="" />
            </div>
            <div id="courseBoard-classification">
              <span>과정구분</span>
            </div>
            <div id="courseBoard-course-id">
              <span>기수</span>
            </div>
            <div id="courseBoard-subject">
              <span>주제명</span>
            </div>
            <div id="courseBoard-course-name">
              <span>과정명</span> 
            </div>
            <div id="courseBoard-duration">
              <span>기간</span>
            </div>
            <div id="courseBoard-total-hours">
              <span>총 교육일수<span>
            </div>
            <div id="courseBoard-total-days">
              <span>교육시간(일)</span>
            </div>
            <div id="courseBoard-location">
              <span>강의장</span>
            </div>
            <div id="courseBoard-edit">
              <span> 수정하기 </span>
            </div>
          </div>
          <div th:each="course : ${courseList}" th:attr="data-courseSeq=${course.courseSeq}" style="display: contents;">
            <div class="courseBoard-row" >
              <div id="courseBoard-no">
                <input type="checkbox" name="" />
              </div>
              <div id="courseBoard-classification">
                <span th:text="${course.courseType}">과정 구분 alt</span>
              </div>
              <div id="courseBoard-course-id">
                <span th:text="${course.courseNumber}">기수 alt</span>
              </div>
              <div id="courseBoard-subject">
                <span th:text="${course.subject}">과목 alt</span>
              </div>
              <div id="courseBoard-course-name">
                <span th:text="${course.courseName}">Java 기반 클라우드 개발자 양성 과정</span>
              </div>
              <div id="courseBoard-duration">
                <span th:text="${course.getCourseStartDate().toString() + ' ~ ' + course.getCourseEndDate().toString()}" th:attr="data-start-date=${course.getCourseStartDate()},data-end-date=${course.getCourseEndDate()}">2024.02.27 ~ 2024.07.31</span>
              </div>
              <div id="courseBoard-total-hours">
                <!-- 총 시간 대신 교육일수 적기 -->
                <span th:text="${course.totalTrainingDays}">교육일수 alt<span>
              </div>
              <div id="courseBoard-total-days">
                <!-- 교육시간 -->
                <span th:text="${course.trainingHoursOfDate}">일당 교육시간 alt</span>
              </div>
              <div id="courseBoard-location">
                <span th:text="${course.academyLocation}">강의장 alt</span>
              </div>
              <div id="courseBoard-edit">
                <button id="edit-btn" class="btn-setting">수정</button>
              </div>
            </div>
            
            </div>
          </div>
      </article>

      <article class="page-information">
        <div class="cnt-pages">
          <span>총 14건</span>
        </div>
      </article>
    </section>
    <footer></footer>
  </body>
</html>
