<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="https://code.jquery.com/jquery-3.7.1.slim.js"
            integrity="sha256-UgvvN8vBkgO0luPSUl2s8TIlOSYRoGFAX4jlCIm9Adc=" crossorigin="anonymous"></script>
    <title>Document</title>
    <link rel="stylesheet" href="../../css/format.css"/>
    <link rel="stylesheet" href="../../css/scholarships.css"/>
</head>
<body id="content-wrapper">
<div th:insert="~{common/header :: header}"></div>
<div th:insert="~{common/title :: title ('장학금 정산')}"></div>
<section id="scholarship-contents">
    <article id="scholarship-search-btn-wrapper">
        <div class="search-form-wrapper">
            <select name="scholarship-courseId-filter"
                    class="scholarship-courseId-filter">
                <option value="course-number">기수</option>
                <option value="227">227</option>
                <option value="191">191</option>
            </select> <input placeholder="수강생을 입력하세요" class="search-input"/>
            <button type="button" class="board-filter-search-btn">검색</button>
        </div>
        <div class="scholarship-btn-wrapper">
            <button type="button" id="settlement-btn" class="btn-setting">
                정산
            </button>
        </div>
    </article>
    <article class="scholarship-page-information">
        <div class="scholarship-cnt-pages">
        </div>
    </article>
    <article>
        <div id="scholarshipBoard-table">
            <div class="scholarshipBoard-row" id="scholarshipBoard-title-row">
                <div class="scholarshipBoard-checkbox">
                    <input type="checkbox" name=""/>
                </div>
                <div class="scholarshipBoard-courseId">
                    <span>기수</span>
                </div>
                <div class="scholarshipBoard-course-name">
                    <span>과정명</span>
                </div>
                <div class="scholarshipBoard-hrd-net-id">
                    <span>hrd-net-id</span>
                </div>
                <div class="scholarshipBoard-name">
                    <span>이름</span>
                </div>
                <div class="scholarshipBoard-bank">
                    <span>은행</span>
                </div>
                <div class="scholarshipBoard-account">
                    <span>계좌번호</span>
                </div>
                <div class="scholarshipBoard-point">
                    <span>포인트</span>
                </div>
                <div class="scholarshipBoard-total-amount">
                    <span>금액(원)</span>
                </div>
            </div>
            <div style="display: contents" id="scholarship-table-contents">
            </div>
        </div>
    </article>

    <article class="page-information">
        <ul id="pagination">
            <li>
                <a class="page-link">
                    <span>이전</span>
                </a>
            </li>
            <!--// 이게 페이지 번호-->
            <li class="page-item" id="page_number">
            </li>
            <li class="page-item">
                <a class="page-link" id="next">
                    다음
                </a>
            </li>
        </ul>
        </div>
    </article>
</section>
<footer></footer>
<script type="text/javascript" th:src="@{/scripts/scholarshipBoard.js}"></script>
</body>

</html>
