<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="https://code.jquery.com/jquery-3.7.1.slim.js"
            integrity="sha256-UgvvN8vBkgO0luPSUl2s8TIlOSYRoGFAX4jlCIm9Adc=" crossorigin="anonymous"></script>
    <title>Document</title>
    <link rel="stylesheet" href="../../css/format.css"/>
    <link rel="stylesheet" href="../../css/scholarships.css"/>
</head>
<body id="content-wrapper">
<div th:insert="~{common/header :: header}"></div>
<div th:insert="~{common/title :: title ('장학금 정산')}"></div>
<section id="scholarship-contents">
    <article id="scholarship-search-btn-wrapper">
        <div class="search-form-wrapper">
            <select name="scholarship-courseId-filter"
                    class="scholarship-courseId-filter">
                <option value="course-number" id="course-number">기수</option>
            </select>
            <input placeholder="수강생을 입력하세요" class="search-input"/>
            <button type="button" class="board-filter-search-btn">검색</button>
        </div>
        <div class="scholarship-btn-wrapper">
            <button type="button" id="settlement-btn" class="btn-setting" popovertarget="settlementListModal">
                정산
            </button>
        </div>
    </article>
    <article class="scholarship-page-information">
        <div class="scholarship-cnt-pages">
        </div>
    </article>
    <article>
        <div id="scholarshipBoard-table">
            <div class="scholarshipBoard-row" id="scholarshipBoard-title-row">
                <div class="scholarshipBoard-checkbox"  >
                    <input type="checkbox" name="" id="title-checkbox"/>
                </div>
                <div class="scholarshipBoard-courseId">
                    <span>기수</span>
                </div>
                <div class="scholarshipBoard-course-name">
                    <span>과정명</span>
                </div>
                <div class="scholarshipBoard-hrd-net-id">
                    <span>hrd-net-id</span>
                </div>
                <div class="scholarshipBoard-name">
                    <span>이름</span>
                </div>
                <div class="scholarshipBoard-bank">
                    <span>은행</span>
                </div>
                <div class="scholarshipBoard-account">
                    <span>계좌번호</span>
                </div>
                <div class="scholarshipBoard-point">
                    <span>포인트</span>
                </div>
                <div class="scholarshipBoard-total-amount">
                    <span>금액(원)</span>
                </div>
            </div>
            <div style="display: contents" id="scholarship-table-contents">
            </div>
        </div>
    </article>

    <article class="scholarship-page-information">
        <ul id="pagination">
            <li>
                <a class="page-link" id="before">
                    이전
                </a>
            </li>
            <!--// 이게 페이지 번호-->
            <li class="page-item" id="page_number">
            </li>
            <li class="page-item">
                <a class="page-link" id="next">
                    다음
                </a>
            </li>
        </ul>
        </div>
    </article>
</section>
<footer></footer>
</body>

<!-- 정산내역 확인 모달 -->
<div id="settlementListModal" class="check-settlement-modal" popover>
    <div class="check-settlement-wrapper">
        <div class="settlement-list-info">
            <h1 class="title">정산 내역 확인</h1>
            <h1></h1>
        </div>
        <div id="btn-wrapper">
            <button class="btn-setting-format enroll-btn-format" onclick="removeCourse()" popovertarget="">정산</button>
            <button id="edit-btn" class="btn-setting" popovertarget="settlementListModal" popovertargetaction="hide">취소</button>
        </div>
    </div>
</div>

<!-- 과정삭제 완료 모달 -->
<div id="removeCourseCompleteModal" class="course-modal" popover>
    <div class="removecourse-wrapper">
        <div class="removecourse-info">
            <h1 class="upperline title">알림</h1>
            <h1 id="message">삭제되었습니다.</h1>
        </div>
        <div id="btn-wrapper">
            <button class="btn-setting-format enroll-btn-format" onclick="location.reload()">확인</button>
        </div>
    </div>
</div>

<!--<div class="modal-background"></div>-->
<script type="text/javascript" th:src="@{/scripts/scholarshipBoard.js}"></script>
</html>
