<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="https://code.jquery.com/jquery-3.7.1.slim.js"
            integrity="sha256-UgvvN8vBkgO0luPSUl2s8TIlOSYRoGFAX4jlCIm9Adc=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.14.3/xlsx.full.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.min.js"></script>
    <title>Document</title>
    <link rel="stylesheet" href="../../css/format.css"/>
    <link rel="stylesheet" href="../../css/employment.css"/> 
</head>
<body id="content-wrapper">
<div th:insert="~{common/header :: header}"></div>
<div th:insert="~{common/title :: title ('수강생 취업률 관리')}"></div>
<section id="employment-contents">
    <article id="employment-search-btn-wrapper">
        <div class="search-form-wrapper">
            <select name="employment-courseId-filter"
                    class="employment-courseId-filter">
                <option value="course-number" id="course-number">기수</option>
            </select>
        </div>
        <div class="employment-btn-wrapper">
        <button type="button" id="export-to-excel" class="btn-setting">엑셀 추출</button>
            <button type="button" id="settlement-btn" class="btn-setting" popovertarget="settlementListModal">
                저장
            </button>
        </div>
    </article>
    <article class="employment-page-information">
        <div class="employment-cnt-pages">
        </div>
    </article>
    <section id="employment-contents">
  <article>
  <div id="employmentBoard-table">
    <table class="employmentBoard-table">
      <thead>
        <tr>
          <th>
            <input type="checkbox" name="" id="title-checkbox" />
          </th>
          <th><span>hrd-net-id</span></th>
          <th><span>기수</span></th>
          <th><span>이름</span></th>
          <th><span>전화번호</span></th>
          <th><span>이메일</span></th>
          <th><span>과정종료일</span></th>
          <th><span>취업처</span></th>
          <th><span>취업 여부</span></th>
        </tr>
      </thead>
      <tbody id="employment-table-contents"></tbody>
    </table>
  </div>
</article>
      </section>
        <article class="employment-page-information">
            <ul id="pagination">
                <li>
                    <a class="page-link" id="before">
                        이전
                    </a>
                </li>
                <!--// 이게 페이지 번호-->
                <ul class="page-item" id="page_number">
                </ul>
                <li class="page-item">
                    <a class="page-link" id="next">
                        다음
                    </a>
                </li>
            </ul>
            </div>
        </article>
</section>
<footer></footer>
<script>
const excelDownload = document.querySelector('#export-to-excel');

document.addEventListener('DOMContentLoaded', ()=>{
    excelDownload.addEventListener('click', exportExcel);
});


function exportExcel() {
  // 엑셀 시트 생성
  var wb = XLSX.utils.book_new();
  var newSh = excelHandler.getWorksheet();
  XLSX.utils.book_append_sheet(wb, newSh, excelHandler.getSheetName());
  var wb = XLSX.write(wb, { bookType: 'xlsx', type: 'binary' });

  saveAs(new Blob([stab(wb)], { type: 'application/octet-stream' }), excelHandler.getExcelFileName());
}

var excelHandler = {
  getExcelFileName: function() {
    return '기수별 취업 데이터.xlsx'; // 파일 이름
  },
  getSheetName: function() {
    return '시트 이름'; // 시트 이름
  },
  getExcelData: function() {
    return document.getElementById('employmentBoard-table'); // TABLE id
  },
  getWorksheet: function() {
    return XLSX.utils.table_to_sheet(this.getExcelData());
  }
};

function stab(s) {
  var buf = new ArrayBuffer(s.length); // convert s to arrayBuffer
  var view = new Uint8Array(buf); // create uint8array as viewer
  for (var i = 0; i < s.length; i++) view[i] = s.charCodeAt(i) & 0xFF; // convert to octet
  return buf;
}


  $(".employment-courseId-filter").on("change", async function() {
    let courseNumber = $(this).val(); // 'this' refers to the selected dropdown element

    try {
      const response = await fetch("/employments/info-list?courseNumber=" + courseNumber + "&page=" + 1, {
        method: "GET" // 불필요한 Content-Type 헤더 제거
      });
      if (!response.ok) {
        throw new Error(`HTTP 오류! 상태: ${response.status}`);
      }
      const data = await response.json();
      const notificationList = data.result;
      console.log(notificationList);
      await getSettlementList(notificationList);
    } catch (error) {
      console.error("공지 사항 페치 오류:", error);
    }
  });


</script>
</body>


<script type="text/javascript" th:src="@{/scripts/employmentBoard.js}"></script>
</html>
