<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="https://code.jquery.com/jquery-3.7.1.slim.js"
            integrity="sha256-UgvvN8vBkgO0luPSUl2s8TIlOSYRoGFAX4jlCIm9Adc=" crossorigin="anonymous"></script>
    <title>Document</title>
    <link rel="stylesheet" href="../../css/format.css"/>
    <link rel="stylesheet" href="../../css/notifications.css"/>
</head>
<body id="content-wrapper">
<div th:insert="~{common/header :: header}"></div>
<section id="title-wrapper">
    <h2 id="title">공지사항</h2>
</section>
<section id="setNotifications-section">
    <article class="setNotification-contents">
        <div class="setNotification-set-wrapper">
            <div class="setNotification-title-wrapper">
            <div id="title-item">
                <h3>제목</h3>
                </div>
                <div class="setNotification-title-input-wrapper">
                    <input name="title" id="title-input"></input>
                </div>
            </div>
        </div>
        <div class="setNotification-input-wrapper">
        <div id="content-item">
        	<h3>내용</h3>
        </div>
        <div id="content-textarea-wrapper">
           <textarea name="content" id="content-input"></textarea>
        </div>
        </div>
        <div id="setNotification-btn-wrapper">
            <button id="enroll-btn" class="setNotification-btn-setting">
                수정
            </button>
            <button id="delete-btn" class="setNotification-btn-setting">
                취소
            </button>
        </div>
    </article>
</section>
<footer></footer>
<script>
  let urlParams = new URLSearchParams(window.location.search);
  let notificationSeq = urlParams.get('notificationSeq');

	$(document).ready(function() {
  fetch("/notifications/post/" + notificationSeq, {
    method: "get",
    headers: {
      "Content-Type": "application/json"
    }
  })
  .then(response => response.json())
  .then(data => {
    // Process and populate the HTML template
    let notificationTitle = data.title;
    let notificationContent = data.description;
console.log(notificationTitle);
    document.querySelector('#title-input').value = notificationTitle;
    document.querySelector('#content-input').textContent = notificationContent;
    
  })
  .catch(error => {
    console.error("Error fetching data:", error);
  });
});

//취소 버튼 클릭시 다시 원본 글로 복귀
	$("#delete-btn").on("click", function(){
	location.href = "/ems/notification?notificationSeq="+notificationSeq;
	})
	
$("#enroll-btn").on("click", function(){
	fetch("/notifications/post/" + notificationSeq,{
			method: "put",
			headers: {
				"Content-Type": "application/json"
			},
			body: JSON.stringify({
				notificationSeq: notificationSeq,
				title: document.getElementById("title-input").value,
				description: document.getElementById("content-input").value
			})
		})
		.then(location.href = "/ems/notification?notificationSeq="+notificationSeq)
 })
	</script>
</body>
</html>
