#attendance-content-article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 0;
    margin-left: 0;
}

.student-cnt-pages {
    width: 100%;
    margin-left: 15px;
    margin-top: 0;
}

.btn {
    padding: 5px 10px;
    border-radius: 10px;
    color: #fff;
    box-shadow: 0px 0px 2px #888;
    background-color: rgb(64, 64, 64);
}

/* 검색 영역 */
.input-date {
    width: 130px;
    height: 41px;
    border: none;
    border: 1px solid #d3d3d3;
    border-radius: 10px;
    padding: 0 10px;
}


/* 출결 "입력" 페이지의 board-table */
.board-table.set-attendance td:not(:nth-child(2)), .board-table.set-attendance th:not(:nth-child(2)) {
    width: 15%;
}
.board-table.set-attendance td:nth-child(2), .board-table.set-attendance th:nth-child(2) {
    width: 10%;
}
.board-table.set-attendance td:nth-child(3), .board-table.set-attendance th:nth-child(3) {
    width: 20%;
}
.board-table.set-attendance td:nth-child(6), .board-table.set-attendance th:nth-child(6) {
    width: 12%;
}
.board-table.set-attendance td:first-child, .board-table.set-attendance th:first-child {
    width: 5%;
}
.board-table.set-attendance td:last-child, .board-table.set-attendance th:last-child {
    width: 18%;
}

.board-table-row {
    text-align: center;
}

table {
    border-collapse: separate;
    border-spacing: 0px 8px;
}

td {
    vertical-align: middle;
}

/* 선택 수강생 출결상태 처리 옵션 */
.attendance-status-wrapper {
    display: flex;
    gap: 15px;
    margin-left: 49%;
    width: fit-content;
}

label {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

#combine-update-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 34px;
    padding: 19px 16px;
    font-size: 16px;
}

/* 각 수강생의 출결상태 select box */
select {
    padding: 0 13px;
    width: 80%;
    height: 27px;
    font-size: 15px;
    border: 1px solid lightgray;
    border-radius: 10px;
    background-image: url(../assets/Polygon.svg);
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: 88%;
}

/* 각 수강생의 출결 인정 증빙 서류 input file 버튼*/
.file-input-wrapper {
    display: flex;
    justify-content: center;
}

#file-upload-btn {
    display: none;
}
.input-file-label {
    padding: 6.5px 16px;
    border-radius: 10px;
    box-shadow: 0px 0px 2px #888;
    background: rgba(244, 244, 244, 1);
}

/* 해당 페이지의 수강생 출결 상태 내용 저장 */
.update-btn-div {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    width: 100%;
    padding-right: 7%;
    .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 34px;
        padding: 19px 16px;
        font-size: 16px;
    }
}
#update-btn {
    color: #000;
    background: #fff;
}

.acknowledgeModal {
    margin: auto;
    border: 1px solid lightgray;
    border-radius: 8px;
    .modal-contents-wrapper {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    .modal-contents-wrapper:first-child p {
        font-size: 22px;
        font-weight: 600;
    }
    .modal-contents-wrapper:nth-child(2) {
        display: flex;
        gap: 20px;

        label {
            display: inline-block;
            width: 100%;
            margin-bottom: 6px;
            font-weight: 500;
            font-size: 18px;
        }
        .content-item {
            width: 100%;
            select {
                width: 100%;
                height: 41px;
                background-position: 95%;
            }
        }
    }
}
.modal-btn-wrapper {
    display: flex;
    gap: 20px;
}

/* 수강생 출결 입력(등록) 모달 */
.addAttendanceModal {
    margin: auto;
    border: 1px solid lightgray;
    border-radius: 8px;
}
.modal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 600px;
    height: 660px;
    padding: 5% 10%;
    box-sizing: border-box;
    p {
        margin: 0;
    }
}
.modal-container hr {
    margin: 10px 0;
}
.add-attendance-wrapper {
    display: flex;
    width: 100%;
    .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 34px;
        padding: 19px 16px;
        font-size: 16px;
        font-weight: 500;
    }
}
.add-attendance-wrapper:first-child {
    justify-content: space-between;
}
.add-attendance-wrapper:nth-child(2) {
    flex-direction: column;
    justify-content: flex-start;
    gap: 0;
    height: 400px;
    p {
        height: 20px;
    }
}
.add-attendance-wrapper:last-child {
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
    #cancel-btn {
        color: #000;
        background-color: #fff;
    }
}
.add-attendance-wrapper p {
    font-size: 20px;
    font-weight: 500;
}
.modal-section {
    height: fit-content;
}
.modal-section:first-child {
    width: 31%;
}
.input-date.modal {
    width: 100%;
}
.modal-section:last-child {
    width: 64%;
    .attendance-status-wrapper {
        height: 41px;
        width: 100%;
        margin: 0;
        font-size: 15px;
    }
}
.list-wrapper {
    height: calc(400px - 20px);
    border-bottom: 1px solid #cdcdcd;
    .modal-checkbox {
        width: 5%;
    }
    .course-number {
        width: 10%;
        text-align: center;
    }
    .hrd-net-id {
        width: 30%;
        text-align: center;
    }
    .name {
        width: 20%;
        text-align: center;
    }

}
.list-header {
    height: 29px;
    padding: 0 5px 12px 5px;
    margin-bottom: 12px;
    border-bottom: 1px solid #cdcdcd;
    p {
        font-size: 16px;
    }
}
.list-header,
.list-content {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.list-contents {
    display: flex;
    flex-direction: column;
    gap: 13px;
    height: calc(380px - 16px - 29px);
    padding: 0 10px;
    overflow-y: scroll;
    p {
        font-weight: 300;
        font-size: 16px;
    }
}
.list-content {
    width: 100%;
    input {
        margin-right: 8px;
    }
}

/**************************************************************************/

/********************** attendanceBoard.html *****************/
#attendance-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 0 80px;
}

#content-section {
    width: 100%;
    /*margin-top: 25px;*/
    margin-top: 15px;
    z-index: 9;
}

/* 출석 "조회"(attendanceBoard.html) 테이블 */
#content-article {
    width: 100%;
}
.board-table.refer-attendance-status {
    width: 90%;
    border-spacing: 0;
    tr {
        height: 40px;
    }
}

.board-table.refer-attendance-status td:not(:nth-child(2)), .board-table.refer-attendance-status th:not(:nth-child(2)) {
    width: 5%;
}
.board-table.refer-attendance-status td:first-child, .board-table.refer-attendance-status th:first-child {
    width: 7%;
}
.board-table.refer-attendance-status td:last-child, .board-table.refer-attendance-status th:last-child {
    width: 10%;
}
.board-table.refer-attendance-status td:nth-child(5), .board-table.refer-attendance-status th:nth-child(5) {
    widht: 8%;
}
.board-table.refer-attendance-status td:nth-child(2), .board-table.refer-attendance-status th:nth-child(2) {
    width: 20%;
}
.board-table.refer-attendance-status td:nth-child(3), .board-table.refer-attendance-status th:nth-child(3) {
    width: 12%;
}
.board-table.refer-attendance-status td:nth-child(4), .board-table.refer-attendance-status th:nth-child(4) {
    width: 13%;
}

.board-table.refer-attendance-status tr:not(:first-child),
.board-table.set-attendance tr:not(:first-child){
    cursor: initial;
}

.board-table.refer-attendance-status tr:not(:first-child):hover,
.board-table.set-attendance tr:not(:first-child):hover{
    font-weight: 400;
}

.id-chk-wrapper {
    width: 100%;
    display: flex;
    gap: 10px;
    input {
        width: 70%;
        height: 50px;
        padding: 0 15px;
        box-sizing: border-box;
        border-radius: 6px;
        border: solid #c9d3db;
        font-style: normal;
        font-weight: 400;
    }
}

.btn.add-student-modal {
    width: 30%;
    color: #000;
    background: rgba(244, 244, 244, 1);
    padding: 5px 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 2px #888;
}

.chk-result-popup {
    display: none;
    justify-content: center;
    position: absolute;
    top: 40%;
    left: 37%;
    width: 400px;
    height: 180px;
    border: 2px solid #b8b8b8;
    border-radius: 10px;
    z-index: 99;
    background-color: #fff;
}
.popup-content-wrapper {
    display: flex;
    flex-direction: column;
    width: 95%;
    padding: 5%;
    gap: 20px;
    margin-top: 10px;
}
.popup-btn-wrapper {
    display: flex;
    gap: 10px;
    width: 100%;
}
.popup-description-wrapper {
    width: 100%;
    text-align: center;
    font-size: 18px;
    p {
        margin: 0;
    }
}
.popup-btn-wrapper {
    display: flex;
    gap: 10px;
    justify-content: center;
    width: 100%;
    button {
        height: 34px;
        width: 50px;
        color: #000;
        border-radius: 8px;
        background-color: rgba(244, 244, 244, 1);
    }
    button:nth-child(2) {
        width: fit-content;
        padding: 0 13px;
        color: #fff;
        background-color: rgb(64, 64, 64);
    }
}

/**********************attendanceBoard *****************/
/* button */
.attendance-search-btn-wrapper {
    display: flex;
    margin-top: 20px;
}

.attendance-search-form-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
    width: fit-content;
}

.attendance-btn-wrapper {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#attendance-enter-btn {
    background-color: rgba(45, 98, 234, 1);
}
#shelf-registration-btn {
    background-color: rgba(45, 98, 234, 1);
    width: 70px;
}
#attendance-edit-btn {
    background-color: rgba(201, 211, 219, 1);
}

#attendance-content-article {
    margin-left: -40px;
}

.filter-search-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 34px;
    padding: 19px 16px;
    font-size: 16px;
}


.attendance-btn-setting {
    font-style: normal;

    font-weight: 500;
    line-height: 144%;

    color: #ffffff;

    width: 57px;
    height: 32px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;

    background: #eee;
    padding: 5px;
    box-shadow: 0px 0px 5px #888;
    line-height: 1.5em;
}

.attendance-checkbox {
    width: 1%;
}

.attendance-courseId {
    width: 5%;
}

.attendance-name {
    width: 5%;
}

.attendance-birth {
    width: 10%;
}

.attendance-duration {
    width: 10%;
}

.attendance-cnt {
    width: 10%;
}

.attendance-cnt-late {
    width: 8%;
}

.attendance-cnt-early-leave {
    width: 8%;
}
.attendance-cnt-go-out {
    width: 8%;
}
.attendance-cnt-absence {
    width: 8%;
}
.attendance-total {
    width: 8%;
}


/**************************************************************************/
/********************** addAttendance.html *****************/
#search-form {
    display: flex;
    gap: 8px;
    width: fit-content;
}
#content-section.attendance-add {
    width: 90%;
    margin-top: 10px;
}
#attendance-content-article.attendance-add {
    margin: 0;
}
.attendance-status-wrapper.attendance-add {
    margin-left: 42%;
}
.student-cnt-pages.attendance-add {
    margin-left: 10%;
}
#attendance-add-table-article {
    display: flex;
    height: 420px;
}
.board-table.set-attendance {
    tr:first-child {
        height: 40px;
    }
    tr {
        height: 23px;
    }
}
.modifiedAttendance {
    border: 2px solid rgb(0, 141, 206);
}
.update-btn-div.attendance-add {
    padding-right: 10%;
}
#pagination.attendance-add {
    margin: 0;
}
.page-information.attendance-add {
    margin-top: 15px;
}

#add-attendance-modal::backdrop,
#acknowledge-setting-modal::backdrop {
    background-color: rgba(0,0,0,0.5);
}

/* **출석 인정 및 증빙서류 설정 모달 */
.acknowledge-modal-popover {
    width: 130px;
    height: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 2px #888;
    z-index: 200;
    background-color: rgba(244,244,244,1);
}

.modal-backdrop {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 100;
}
#acknowledge-setting-modal {
    display: none;
    position: absolute;
    top: 27.5%;
    left: 35%;
    font-size: 16px;
    z-index: 200;
    background-color: #fff;

    .input-date {
        width: 150px;
    }

    .modal-container {
        width: 450px;
        height: 420px;
    }

    .modal-btn-wrapper {
        .btn {
            width: 100px;
            height: 33px;
        }
        .acknowledge-modal.cancel-btn.btn {
            width: 100px;
            color: #000;
            background-color: rgba(244, 244, 244, 1);
        }
    }

    .days-input-wrapper {
        span {
            margin: 0 19px;
        }
    }

    .file-form {
        display: flex;
        justify-content: space-between;
        width: 100%;

        label {
            width: 70%;
        }

        #file-submit-btn {
            width: 27%;
            height: 30px;
            color: #000;
            border-radius: 10px;
            box-shadow: 0px 0px 2px #888;
            background-color: rgba(244, 244, 244, 1);
        }
    }
    .input-file-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 30px;
        border-radius: 10px;
        border: 1px solid rgb(77, 77,77);
        font-size: 16px;

        cursor: pointer;
        background-color: #fff;
        &:hover {
            color: #fff;
            background-color: rgb(77, 77, 77);
        }
    }
    .input-file-btn::-webkit-scrollbar {
        width: 8px;
    }
    .input-file-btn::-webkit-scrollbar-thumb {
        border-radius: 100px;
        background-color: hsla(0, 0%, 42%, 0.49);
    }

    #input-file {
        display: none;
    }
}

/* alert 대체 모달 */
/* 수강생 상세정보 수정 success 모달 */
#alert-modal {
    display: none;
    justify-content: center;
    position: absolute;
    top: 40%;
    left: 37%;
    width: 400px;
    height: 150px;
    border-radius: 10px;
    border: 2px solid rgb(64, 64, 64);
    z-index: 999;
    background-color: #fff;
    .modal-contents-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin-top: 4%;

        button {
            width: 100px;
            padding: 5px 15px;
            border-radius: 10px;
            color: #fff;
            font-size: 16px;
            background-color: rgb(64, 64, 64);
        }
    }
}