body {
    font-size: 10px;
}

#content-section {
    width: 80%;
    margin-top: 25px;
}

#attendance-content-article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 0;
    margin-left: 0;
}

.student-cnt-pages {
    width: 100%;
    margin-left: 15px;
    margin-top: 0;
    margin-bottom: 20px;
}

/* 검색 영역 */



/* board-table */
.board-table td:not(:nth-child(2)), .board-table th:not(:nth-child(2)) {
    width: 15%;
}
.board-table td:nth-child(2), .board-table th:nth-child(2) {
    width: 10%;
}
.board-table td:nth-child(3), .board-table th:nth-child(3) {
    width: 20%;
}
.board-table td:nth-child(6), .board-table th:nth-child(6) {
    width: 12%;
}
.board-table td:first-child, .board-table th:first-child {
    width: 5%;
}
.board-table td:last-child, .board-table th:last-child {
    width: 18%;
}

.board-table-row {
    text-align: center;
}

table {
    border-collapse: separate;
    border-spacing: 0px 20px;
}

.board-table {
    padding: 0 10px;
}

td {
    vertical-align: middle;
}

/* 선택 수강생 출결상태 처리 옵션 */
.attendance-status-wrapper {
    display: flex;
    gap: 15px;
    padding-left: 55%;
    width: 100%;
}

label {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: fit-content;
}

#combine-update-btn {
    width: 140px;
    height: 35px;
    padding: 5px 10px;
    border-radius: 10px;
    color: #fff;
    background-color: rgb(64, 64, 64);
    /*background-color: rgba(244, 244, 244, 1);*/
    box-shadow: 0px 0px 2px #888;
}

/* 각 수강생의 출결상태 select box */
select {
    padding: 0 13px;
    width: 65%;
    height: 27px;
    border: 1px solid lightgray;
    border-radius: 10px;
    background-image: url(../assets/Polygon.svg);
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: 88%;
}

/* 각 수강생의 출결 인정 증빙 서류 input file 버튼*/
.file-input-wrapper {
    display: flex;
    justify-content: center;
}

#file-upload-btn {
    display: none;
}
.input-file-label {
    padding: 6.5px 16px;
    border-radius: 10px;
    box-shadow: 0px 0px 2px #888;
    background: rgba(244, 244, 244, 1);
}

/* 해당 페이지의 수강생 출결 상태 내용 저장 */
.update-btn-div {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 20px;
    padding-right: 7%;
}

#update-btn {
    width: 80px;
    height: 35px;
    padding: 5px 10px;
    color: #fff;
    border-radius: 10px;
    background-color: rgb(64, 64, 64);
    box-shadow: 0px 0px 2px #888;
}
