@import "reset.css";
/*
!*********** header *****************!

#nav-title-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
}

#header {
  height: 94px;
  width: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

#nav-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

#top-logo {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 144%;

  color: #2d62ea;
}

!* 수강생 관리 시스템 *!
#top-logo > h2 {
  text-align: center;
  height: 100%;
}

!** menu*!

!* 수강생 관리 *!

#nav-ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;
  align-items: center;
  padding-right: 85px;
}

.nav-li {
  height: 30px;
  width: 125px;

  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 144%;
  text-align: center;

  color: #1d1d1d;
}

!** 로그아웃, 설정 버튼*!

!* 로그아웃 *!

!* identical to box height, or 22px *!

#header-btns {
  width: 9%;
  align-items: center;
  display: flex;
  flex-direction: row;
  align-items: center;

  padding-right: 10px;
}

#logout-btn {
  width: 65px;

  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 144%;
  text-decoration-line: underline;

  color: rgba(0, 0, 0, 0.72);
  cursor: pointer;

  padding-bottom: 8px;
}

#setting-btn {
  background-image: url(../assets/Setting.svg);
  background-repeat: no-repeat;
  height: 23px;

  border: 1px solid #ebebeb;
  border: 1px solid var(--color_border_in_divider);
  background-color: #fff;
  background-color: var(--color_button1_bg);
  color: #606060;

  width: 98px;
  border-radius: 19px;
  font-size: 1.3rem;
  line-height: 36px;
  text-decoration: none;
  cursor: pointer;
}

#header {
  height: 94px;

  background: #ffffff;
  border-bottom: 1px solid #f3f5f9;
}
!** nav*!
#nav-wrapper {
  height: 94px;
}

#top-logo {
  height: 94px;
  width: 15%;

  display: flex;
  flex-direction: row;
  justify-content: start;
}

!* 메뉴(제목) *!
#title-wrapper {
  height: 180px;
  width: 100%;
  background-color: rgba(244, 244, 244, 1);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#title {
  !* 공지사항 *!
  height: 35px;

  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 144%;
  !* identical to box height, or 35px *!
  text-align: center;

  color: #000000;
}

#menu {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 144%;
  text-align: center;

  color: #000000;
}
*/

/************** benefitSettlement**************/

/***** button/ search *******/

.search-btn-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 36%;
  margin: 5px 0 5px 0;
}

.search-form-wrapper {
  padding-top: 12px;
  display: flex;
  width: 450px;
  gap: 8px;
}

.courseId-filter {
  width: 90px;

  background: #ffffff;

  border: 1px solid #cfcfcf;
  border-radius: 5px;

  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 144%;

  padding-left: 18px;

  color: #000000;

  background-image: url("../assets/Polygon.svg");
  background-repeat: no-repeat;
  background-size: 12px;
  background-position: right;
  background-position: 55px;
}

.search-input {
  width: 300px;
  height: 41px;

  background: #ffffff;

  border: 1px solid #cfcfcf;
  border-radius: 10px;

  z-index: 1;

  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 144%;

  padding-left: 20px;

  color: #000000;
}

/* .filter-search-btn {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 144%;

  width: 100px;
  height: 41px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 16px;
  gap: 10px;

  background: #eee;
  line-height: 1.5em;
  border-radius: 8px;

  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); */

/* background: #2d62ea;
  color: #ffffff;

  flex: none;
  order: 0;
  flex-grow: 1;
} */

/* 흰바탕 파란색 */
/* .filter-search-btn {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 144%;

  width: 100px;
  height: 40px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 16px;
  gap: 10px;

  background: #eee;
  line-height: 1.5em;
  border-radius: 8px;

  box-shadow: 0px 0px 2px #888;
  line-height: 1.5em;

  background: #ffffff;
  color: #2d62ea;

  flex: none;
  order: 0;
  flex-grow: 1;
} */

.filter-search-btn {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 144%;

  width: 100px;
  height: 40px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 16px;
  gap: 10px;

  line-height: 1.5em;
  border-radius: 8px;

  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); */

  box-shadow: 0px 0px 2px #888;
  line-height: 1.5em;

  background: rgba(244, 244, 244, 1);
  color: #000000;

  flex: none;
  order: 0;
  flex-grow: 1;
}

.btn-wrapper {
  padding-top: 12px;
  width: 250px;
  height: 53px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

#setting-btn-wrapper {
  padding-bottom: 5px;
}

#get-settlement-list-btn {
  background-color: rgb(255, 255, 255);
  width: 100px;
  height: 90%;
  border-radius: 8px;
}

#settlement-btn {
  color: #ffffff;
  background-color: rgb(64, 64, 64);
  width: 60px;
  height: 90%;
  border-radius: 8px;
}

.btn-setting {
  /* border-radius: 6px; */
  font-style: normal;

  font-weight: 500;
  font-size: 14px;
  line-height: 144%;

  height: 32px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 16px;
  gap: 10px;

  float: right;
  background: #eee;
  padding: 5px;
  box-shadow: 0px 0px 3px #888;
  line-height: 1.5em;
}

/*************** benefitSettlement table*************/

.board-row {
  display: flex;
  display: flex;
  flex-direction: row;
  height: 60px;
  width: 100%;
  align-items: center;
  text-align: center;
  justify-content: space-between;

  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 144%;

  color: #1d1d1d;
}

.board-checkbox {
  width: 10px;
}

#board-title-row {
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 15px;
  line-height: 144% !important;
  text-align: center;

  color: #1d1d1d;

  box-sizing: border-box;

  width: 100%;
  height: 60px;

  background: #ffffff;
  border-bottom: 1px solid #f3f5f9;
  border-radius: 10px 10px 0px 0px;
}

.benefit-cnt-pages {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  margin-top: 3%;
  margin-left: 6%;

  color: #999999;
}

/****************** benefitResultBoard **************/

.benefitSettlement-checkbox {
  width: 1%;
}
.benefitSettlement-courseId {
  width: 7%;
}
.benefitSettlement-birth {
  width: 7%;
}
.benefitSettlement-name {
  width: 7%;
}

.benefitSettlement-bank {
  width: 7%;
}

.benefitSettlement-account {
  width: 14%;
}

.benefitSettlement-settlement-duration {
  width: 20%;
}

.benefitSettlement-training-aid {
  width: 10%;
}

.benefitSettlement-meal-aid-amount {
  width: 10%;
}

.benefitSettlement-settlement_aid_amount {
  width: 10%;
}

.benefitSettlement-total-amount {
  width: 10%;
}

/********************* benefitSettlementResult **********/

.benefitSettlementResult-checkbox {
  width: 1%;
}
.benefitSettlementResult-courseId {
  width: 4%;
}
.benefitSettlementResult-birth {
  width: 4%;
}
.benefitSettlementResult-name {
  width: 4%;
}

.benefitSettlementResult-bank {
  width: 3%;
}

.benefitSettlementResult-account {
  width: 12%;
}

.benefitSettlementResult-settlement-duration {
  width: 13%;
}

.benefitSettlementResult-training-aid {
  width: 8%;
}

.benefitSettlementResult-meal-aid-amount {
  width: 8%;
}

.benefitSettlementResult-settlement_aid_amount {
  width: 8%;
}

.benefitSettlementResult-total-amount {
  width: 8%;
}

.benefit-settlementdate {
  width: 8%;
}

.benefitResult-search-btn-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 35%;
  margin: 5px 0 5px 0;
}

.benefitResult-search-form-wrapper {
  padding-top: 12px;
  display: flex;
  width: 600px;
  gap: 8px;
}

.settlement-date-input {
  width: 180px;

  background: #ffffff;

  border: 1px solid #cfcfcf;
  border-radius: 5px;

  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 144%;

  padding-left: 18px;

  color: #000000;
}

.benefitResult-cnt-pages {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;

  margin-left: 5%;
  margin-top: 5%;

  color: #999999;
}
