@import "reset.css";

/************** benefitSettlement**************/

/***** button/ search *******/

section {
    padding: 0 80px;
}

#settlement-filter-wrapper {
    width: 100%;
    height: 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#benefit-settlement-input-wrapper {
    width: 100%;
    height: 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
}

.benefit-settlement-duration {
    width: 100px;
    height: 41px;

    background: #ffffff;

    border: 1px solid #cfcfcf;
    border-radius: 5px;

    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 144%;

    color: #000000;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.benefit-settlement-date {
    width: 100px;
    height: 41px;

    background: #ffffff;

    border: 1px solid #cfcfcf;
    border-radius: 5px;

    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 144%;

    color: #000000;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

#settlement-date-label {
    width: auto;
    height: 20px;
    text-align: center;
}

.settlement-date {
    border: none;
    width: 100%;
}

.result-settlement-date {
    border: none;
    width: 100%;

}

#lecture-days {
    border: none;
    width: 100%;
    text-align: center;
}

#filter-and-btn-wrapper {
    width: 550px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.benefit-settlement-search-btn-wrapper {
    padding-left: 400px;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    align-items: center;;
}

#error {
    width: 100%;
    height: 20px;
}

.benefit-settlement-filter_search_wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px 0 20px 0;
}

.search-btn-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-left: 37%;
    padding-right: 5%;
    height: 80px;
    align-items: center;
}

.search-form-wrapper {
    display: flex;
    width: 200px;
    align-items: center;
    gap: 2px;
}

.courseId-filter {
    width: 90px;
    height: 41px;

    background: #ffffff;

    border: 1px solid #cfcfcf;
    border-radius: 5px;

    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 144%;

    padding-left: 18px;

    color: #000000;

    background-image: url("../assets/Polygon.svg");
    background-repeat: no-repeat;
    background-size: 12px;
    background-position: 60px;
}

.search-input {
    width: 300px;
    height: 41px;

    background: #ffffff;

    border: 1px solid #cfcfcf;
    border-radius: 10px;

    z-index: 1;

    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 144%;

    padding-left: 15px;
    
    color: #000000;
    text-align: center;
}

.benefit-result-search-input {
    width: 300px;
    height: 41px;

    background: #ffffff;

    border: 1px solid #cfcfcf;
    border-radius: 10px;

    z-index: 1;

    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 144%;

    padding-left: 15px;
    /*margin-right: 5px;*/

    color: #000000;
    text-align: center;
}

.search-input::placeholder {
    background-image: url("../assets/search.svg");
    background-repeat: no-repeat;
    background-size: 19px;
    background-position: left;
}


.filter-search-btn {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 144%;

    width: 100px;
    height: 40px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 16px;
    gap: 10px;

    line-height: 1.5em;
    border-radius: 8px;

    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); */

    box-shadow: 0px 0px 2px #888;
    line-height: 1.5em;

    background: rgba(244, 244, 244, 1);
    color: #000000;

    flex: none;
    order: 0;
    flex-grow: 1;
}

.btn-wrapper {
    height: 55px;
    padding: 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    /*margin-top: 20px;*/
}

.benefit-btn-wrapper {
    height: 53px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#setting-btn-wrapper {
    padding-bottom: 5px;
}

#get-settlement-list-btn {
    background-color: rgb(255, 255, 255);
    width: 100px;
    height: 90%;
    border-radius: 8px;
}

#settlement-btn {
    color: #ffffff;
    background-color: rgb(64, 64, 64);
    width: 60px;
    height: 32px;
    border-radius: 8px;
}

.btn-setting {
    /* border-radius: 6px; */
    font-style: normal;

    font-weight: 500;
    font-size: 14px;
    line-height: 144%;

    height: 32px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 16px;
    gap: 10px;

    float: right;
    background: #eee;
    padding: 5px;
    box-shadow: 0px 0px 3px #888;
    line-height: 1.5em;
}

/*************** benefitSettlement table*************/

.board-row {
    display: flex;
    flex-direction: row;
    height: 60px;
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: space-between;

    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 144%;

    color: #1d1d1d;

}

.board-checkbox {
    width: 10px;
}

#board-title-row {
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 15px;
    line-height: 144% !important;

    color: #1d1d1d;

    width: 1300px;
    height: 60px;

    background: #ffffff;
    border-bottom: 1px solid #f3f5f9;
    border-radius: 10px 10px 0px 0px;
}

.benefit-cnt-pages {
    display: flex;
    flex-direction: column;
    justify-content: center;

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    height: 16px;
    color: #999999;
}

/****************** benefitResultBoard **************/
.benefitResult-cnt-pages {
    display: flex;
    flex-direction: column;
    justify-content: center;

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    height: 16px;
    color: #999999;
}

/*
filter and search
*/

#benefit-result-settlement-filter-wrapper {
    width: 100%;
    display: flex;
    flex-display: row;
    justify-content: space-between;
}

#benefit-result-settlement-date {
    width: 90px;
    height: 41px;

    background: #ffffff;

    border: 1px solid #cfcfcf;
    border-radius: 5px;

    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 144%;

    color: #000000;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

#benefit-result-settlement-date-row {
    width: 80px;
}


.benefitSettlement-checkbox {
    width: 1%;
}

.benefitSettlement-courseId {
    width: 7%;
}

.benefitSettlement-hrd-net-id {
    width: 7%;
}

.benefitSettlement-birth {
    width: 7%;
}

.benefitSettlement-name {
    width: 5%;
}

.benefitSettlement-bank {
    width: 5%;
}

.benefitSettlement-account {
    width: 12%;
}

.benefitSettlement-settlement-duration {
    width: 20%;
}

.benefitSettlement-training-aid {
    width: 10%;
}

.benefitSettlement-meal-aid-amount {
    width: 10%;
}

.benefitSettlement-settlement_aid_amount {
    width: 10%;
}

.benefitSettlement-total-amount {
    width: 10%;
}

.benefit-board-table {
    width: 100%;
    height: 800px;
    overflow-x: auto;
    white-space: nowrap;
    margin: 0 auto
}

/********************* benefitSettlementResult **********/

/*#result-content-section {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    width: 1000px;*/
/*    justify-content: space-between;*/
/*}*/

.result-board-row {
    display: flex;
    flex-direction: row;
    height: 60px;
    width: 1300px;
    align-items: center;
    text-align: center;
    justify-content: space-between;

    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 144%;

    color: #1d1d1d;

}

.benefit-result-board-table {
    width: 1300px;
    white-space: nowrap;
    overflow: auto
}

.benefitSettlementResult-checkbox {
    /*width: 1%;*/
    width: 50px;
}

.benefitSettlementResult-courseId {
    width: 30px;
}

.benefitSettlementResult-hrd-net-id {
    width: 80px;
}

.benefitSettlementResult-name {
    width: 80px;
}

.benefitSettlementResult-bank {
    width: 80px;
}

.benefitSettlementResult-account {
    width: 150px;
}

.benefitSettlementResult-settlement-duration {
    width: 200px;
}

.benefitSettlementResult-training-aid {
    width: 80px;
}

.benefitSettlementResult-meal-aid-amount {
    width: 80px;
}

.benefitSettlementResult-settlement_aid_amount {
    width: 80px;
}

.benefitSettlementResult-total-amount {
    width: 80px;
}

.benefit-settlement-date {
    width: 80px;
}

.benefitResult-search-btn-wrapper {
    width: 100%;
    display: flex;
    height: 80px;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.benefitResult-search-form-wrapper {
    margin: 20px 0 20px 0;
    display: flex;
    justify-content: center;
    gap: 5px;
}

.settlement-date-input {
    width: 180px;

    background: #ffffff;

    border: 1px solid #cfcfcf;
    border-radius: 5px;

    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 144%;

    padding-left: 18px;

    color: #000000;
}

/*pagenation*/

.benefit-page-information {
    height: 30px;
    display: flex;
    align-items: center;
}


ul#pagination {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 1.3rem;

    li {
        /*display: inline;*/
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        gap: 12px;
    }

    .activePage {
        text-decoration: underline;
        font-weight: bold;
    }

    .inactivePage a {
        cursor: default;
    }
}

#page_number {
    min-width: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.page-link {
    width: 10px;
}