@import "reset.css";

/************** benefitSettlement**************/
input:-webkit-autofill {
  background-color: transparent !important;
  color: #000; /* 텍스트 색상을 원하는 색으로 설정 */
}

/* 자동완성된 값의 배경색을 흰색으로 설정 */
input:-webkit-autofill {
  background-color: white !important;
  color: #000; /* 텍스트 색상을 원하는 색으로 설정 */
}
input:focus {
    outline: none;
     background-color: transparent; /* 포커스 상태일 때 투명으로 설정 */
}

/**모달 **/
.modal-content {
    margin-top: 300px;
    width: 400px;
    height: 200px;
}

.modal-body {
    font-size: 20px;
    text-align: center;
    margin: 10px;
    font-weight: 600;
}

.modal-title {
    font-weight: 600;
    text-align: center;
    width: 100%;
}

.modal-footer {
    border-top: none;
    justify-content: center;
}

.btn-secondary {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 34px;
    width: 50px;
    color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 0px 5px #d4d4d4;
    background-color: rgb(64, 64, 64);
}


/***** button/ search *******/

section {
    padding: 0 80px;
}


#benefit-settlement-input-wrapper {
	display: flex;
    flex-direction: row;
    gap: 8px;
    height : 41px;
    align-items: center;
	
 /*    height: 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5px; */
}

.benefit-settlement-duration {
    width: 120px;


    background: #ffffff;

    border: 1px solid #cfcfcf;
    border-radius: 5px;

    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 144%;

    color: #000000;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.benefit-settlement-date {
    width: 100px;
    height: 41px;

    background: #ffffff;

    border: 1px solid #cfcfcf;
    border-radius: 5px;

    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 144%;

    color: #000000;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

#settlement-date-label {
    width: auto;
    height: 20px;
    text-align: center;
}

.settlement-date {
    border: none;
    width: 98%;
    height: 41px;
}

.result-settlement-date {
    border: none;
    width: 100%;

}

#lecture-days {
    border: none;
    width: 99%;
    text-align: center;
}

#benefit-settlement-search-btn-section {
    padding: 0 200px;
}

.benefit-settlement-search-btn-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    align-items: center;;
}

#error {
    width: 100%;
    height: 1px;
    padding-left: 5rem;
}

#benefit-result-error {
    width: 100%;
    height: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 14rem;
}

#settlement-filter-wrapper {
     padding-right: 50px;
    margin-left: 28%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 20px;
}

.benefit-settlement-filter-search-wrapper {
	padding-right: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 20px;
   /*  width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px 0 20px 0;
    gap: 8px; */
}

.search-btn-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-left: 37%;
    padding-right: 5%;
    height: 80px;
    align-items: center;
}

.search-form-wrapper {
    display: flex;
    width: 200px;
    align-items: center;
    gap: 2px;
}

.courseId-filter {
    width: 90px;
    height: 41px;

    background: #ffffff;

    border: 1px solid #cfcfcf;
    border-radius: 5px;

    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 144%;

    padding-left: 18px;

    color: #000000;

    background-image: url("../assets/Polygon.svg");
    background-repeat: no-repeat;
    background-size: 12px;
    background-position: 60px;
}

.benefit-search-input {
    background: #ffffff;

    border: 1px solid #cfcfcf;
    border-radius: 10px;

    z-index: 1;

    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 144%;
    color: #000000;
    text-align: center;
}

.search-input {
    width: 300px;
    height: 41px;

    background: #ffffff;

    border: 1px solid #cfcfcf;
    border-radius: 10px;

    z-index: 1;

    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 144%;

    padding-left: 15px;

    color: #000000;
    text-align: center;
}

.benefit-result-search-input {
    width: 300px;
    height: 41px;

    background: #ffffff;

    border: 1px solid #cfcfcf;
    border-radius: 10px;

    z-index: 1;

    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 144%;

    padding-left: 15px;
    /*margin-right: 5px;*/

    color: #000000;
    text-align: center;
}

.search-input::placeholder {
    background-image: url("../assets/search.svg");
    background-repeat: no-repeat;
    background-size: 19px;
    background-position: left;
}


.filter-search-btn {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 144%;

    width: 100px;
    height: 40px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 16px;
    gap: 10px;

    line-height: 1.5em;
    border-radius: 8px;

    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); */

    box-shadow: 0px 0px 2px #888;
    line-height: 1.5em;

    background: rgba(244, 244, 244, 1);
    color: #000000;

    flex: none;
    order: 0;
    flex-grow: 1;
}

.btn-wrapper {
	display: flex;
  flex-direction: row;
  gap: 10px;
margin-left:450px;

	
 /*    height: 55px;
    padding: 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 20px; */
}

.benefit-btn-wrapper {
    height: 53px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#setting-btn-wrapper {
    padding-bottom: 5px;
}

#get-settlement-list-btn {
    background-color: rgb(255, 255, 255);
    width: 100px;
    height: 90%;
    border-radius: 8px;
}

#settlement-btn {
	    color: #ffffff;
    background-color: rgb(64, 64, 64);
    border-radius: 8px;
    position: relative;
    margin-left: 285px;
    top: 40%;
    display: flex;
    flex-direction: row;
    transform: translateY(-50%);
    width: 80px;
    height: 34px;
    padding: 19px 16px;
    box-shadow: 0px 0px 5px #888;
    
   /*  color: #ffffff;
    background-color: rgb(64, 64, 64);
    width: 60px;
    height: 32px;
    border-radius: 8px; */
}

.btn-setting {
    /* border-radius: 6px; */
    font-style: normal;

    font-weight: 500;
    font-size: 14px;
    line-height: 144%;

    height: 32px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 16px;
    gap: 10px;

    float: right;
    background: #eee;
    padding: 5px;
    box-shadow: 0px 0px 3px #888;
    line-height: 1.5em;
}

/*************** benefitSettlement table*************/

.board-row {
    display: flex;
    flex-direction: row;

    color: #1d1d1d;
    border-bottom: 0.5px solid lightgray;
    height: 40px;

    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: space-between;

    color: #1d1d1d;

}

.board-checkbox {
    width: 10px;
}

#board-title-row {
    font-weight: 600 !important;
    border-top: 1px solid #5c5c5c;
    background-color: #f9f9f9 !important;

    color: #1d1d1d;
    height: 40px;

}

.benefit-cnt-pages {
	    width: 100%;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    color: #999999;
    /* display: flex;
    flex-direction: column;
    justify-content: center;

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    height: 16px;
    color: #999999; */
}

#benefit-table-contents {
    border-bottom: 1px solid #5c5c5c !important;

}

/****************** benefitResultBoard **************/
.benefitResult-cnt-pages {

    font-style: normal;
    font-weight: 500;
    color: #999999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 14px;
    line-height: 100%;
    height: 16px;

}

/*
filter and search
*/

#benefit-result-settlement-filter-wrapper {
    width: 100%;
    display: flex;
    flex-display: row;
    justify-content: space-between;
}

#benefit-result-settlement-date {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

#benefit-result-settlement-date > input {
    width: 120px;
    height: 41px;
    border: 1px solid #cfcfcf;
    border-radius: 5px;

    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 144%;

    color: #000000;

}

#benefit-result-settlement-date-row {
    width: 20%;
}

.benefitSettlement-courseId {
    width: 7%;
}

.benefitSettlement-hrd-net-id {
    width: 7%;
}

.benefitSettlement-birth {
    width: 7%;
}

.benefitSettlement-name {
    width: 5%;
}

.benefitSettlement-bank {
    width: 5%;
}

.benefitSettlement-account {
    width: 12%;
}

.benefitSettlement-settlement-duration {
    width: 20%;
}

.benefitSettlement-training-aid {
    width: 10%;
}

.benefitSettlement-meal-aid-amount {
    width: 10%;
}

.benefitSettlement-settlement_aid_amount {
    width: 10%;
}

.benefitSettlement-total-amount {
    width: 10%;
}

.benefit-board-table {
    width: 100%;
    height: 800px;
    overflow-x: auto;
    white-space: nowrap;
    margin: 0 auto
}

/********************* benefitSettlementResult **********/

#result-content-section {
    padding: 0 180px;
}

#result-contents {
    border-bottom: 1px solid #5c5c5c !important;

}

.result-board-row {
    color: #1d1d1d;
    height: 40px;
    border-bottom: 1px solid #f3f5f9;

    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;

}

.benefit-result-board-table {
    white-space: nowrap;
    overflow: auto;
    min-height: 50vh;
}


.benefitSettlementResult-courseId {
    width: 5%;
}

.benefitSettlementResult-hrd-net-id {
    width: 10%;
}

.benefitSettlementResult-name {
    width: 7%;
}

.benefitSettlementResult-bank {
    width: 10%;
}

.benefitSettlementResult-account {
    width: 10%;
}

.benefitSettlementResult-settlement-duration {
    width: 25%;
}

.benefitSettlementResult-training-aid {
    width: 10%;
}

.benefitSettlementResult-meal-aid-amount {
    width: 10%;
}

.benefitSettlementResult-settlement_aid_amount {
    width: 10%;
}

.benefitSettlementResult-total-amount {
    width: 10%;
}

.benefit-result-settlement-date-row {
    width: 10%;
}

.page-information {
    height: 2.5rem;
}

.benefitResult-search-btn-wrapper {
    width: 100%;
    display: flex;
    height: 85px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 20rem;

}

.benefit-result-settlement-date {
    width: 10%;
}

.benefitResult-search-form-wrapper {
    margin: 20px 0 10px 0;
    display: flex;
    justify-content: center;
    gap: 8px;
}

.settlement-date-input {
    width: 180px;

    background: #ffffff;

    border: 1px solid #cfcfcf;
    border-radius: 5px;

    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 144%;

    padding-left: 18px;

    color: #000000;
}

/*pagenation*/

.benefit-page-information {
    height: 30px;
    display: flex;
    align-items: center;
}


ul#pagination {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 1.3rem;

    li {
        /*display: inline;*/
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        gap: 12px;
    }

    .activePage {
        text-decoration: underline;
        font-weight: bold;
    }

    .inactivePage a {
        cursor: default;
    }
}

#page_number {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.page-link {
    width: 10px;
}

#search-course-modal {
    width: 60rem;
    height: 45rem;
    border: #BBBBBB 1px solid;
    border-radius: 20px;
}