@import "reset.css";
@import "button.css";

body {
  font-size: 14px;
  font-family: "Pretendard";
}

/******* addCourseModal / setCourseModal.html ********/
.course-modal{
  margin:auto;
  border:solid;
}

#course-wrapper {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 700px;
  margin: 5px 0px;
  padding: 40px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

#course-wrapper > div > h1 {
  font-size: 20px;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

#course-wrapper > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.course-form-row {
  width: 420px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px 0;
}

.course-form-row > input,
select {
  width: 300px;
  height: 38px;
  padding: 0 15px;
  border: #c9d3db;
  border-radius: 6px;
  /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */
}

.course-form-row > select {
  padding: 0 10px;
}

#btn-wrapper {
  height: 55px;
  padding: 0;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.btn-setting {
  font-style: normal;

  font-weight: 500;
  font-size: 14px;
  line-height: 144%;

  width: 57px;
  height: 32px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;

  background: #eee;
  padding: 5px;
  box-shadow: 0px 0px 3px #888;
  line-height: 1.5em;
}

#enroll-btn {
  color: #ffffff;
  background-color: rgb(64, 64, 64);
  border-radius: 8px;
}

#edit-btn,
#delete-btn {
  font-weight: 600;
  color: rgb(64, 64, 64);
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
}

#enroll-btn-format {
  font-weight: 600;
  color: rgba(45, 98, 234, 1);
  border-radius: 8px;
}

.btn-setting-format {
  font-style: normal;

  /* font-weight: 600; */
  font-size: 14px;
  line-height: 144%;

  width: 57px;
  height: 32px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;

  padding: 5px;
  box-shadow: 0px 0px 3px rgba(45, 98, 234, 1);
  line-height: 1.5em;
}

/*********** removeCourseModal.html ************/

.removecourse-wrapper {
  width: 340px;
  height: 200px;
  background: #ffffff;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 16px;
  gap: 10px;
}

.removecourse-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  column-gap: 30px;
}

.removecourse-info > h1 {
  font-size: 18px;
}

.title {
  font-weight: bold;
  color: rgba(45, 98, 234, 1);
}

.upperline {
  background: #ffffff;
  border-top: 1px solid #f3f5f9;
  border-radius: 10px 10px 0px 0px;
  padding: 20px 0;
}

/******************courseBoard*******************/

/********************button**********************/

#courseBoard-btns-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  padding: 0 110px 0 110px;
  margin: 10px 0 0 0;
}

#courseBoard-btn-wrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;

  display: flex;
  height: 50px;

  align-items: center;
}

.filter-search-btn {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 144%;

  width: 100px;
  height: 40px;
  padding: 10px 16px;
  gap: 10px;

  line-height: 1.5em;
  border-radius: 8px;

  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); */

  box-shadow: 0px 0px 2px #888;
  line-height: 1.5em;

  background: rgba(244, 244, 244, 1);
  color: #000000;
}

.seacrch-form {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.course-name-list {
  width: 83.84px;
  height: 35px;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

/********************** table ***********************/

#courseBoard-table {
  width: 100%;
  padding: 0 100px 0 100px;
}

.courseBoard-row {
  display: flex;
  flex-direction: row;
  height: 60px;
  width: 100%;
  align-items: center;
  text-align: center;
  justify-content: space-between;

  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 144%;

  color: #1d1d1d;
}

#courseBoard-title-row {
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 15px;
  line-height: 144% !important;
  text-align: center;

  color: #1d1d1d;

  box-sizing: border-box;

  width: 100%;
  height: 60px;

  background: #ffffff;
  border-bottom: 1px solid #f3f5f9;
  border-radius: 10px 10px 0px 0px;
}

.search-form-wrapper {
  display: flex;
  flex-direction: row;
  width: 330px;
  justify-content: space-between;

  form{
    display: flex;
  }
}

.data-filter {
  width: 90px;

  background: #ffffff;

  border: 1px solid #cfcfcf;
  border-radius: 5px;

  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 144%;

  color: #000000;

  background-image: url("../assets/Polygon.svg");
  background-repeat: no-repeat;
  background-size: 12px;
  background-position: right;
  background-position: 60px;
}

#filter-button-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 60px;
}

.filter-search-btn {
  width: 131px;
  height: 35px;

  background-color: #f4f4f4;
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */

  border-radius: 4px;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 144%;
  margin-left: 5px;
}

#courseBoard-no {
  width: 4%;
}

#courseBoard-classification {
  width: 12%;
}

#courseBoard-course-id {
  width: 4%;
}

#courseBoard-subject {
  width: 7%;
}

#courseBoard-course-name {
  width: 25%;
}

#courseBoard-duration {
  width: 18%;
}

#courseBoard-count-mounth {
  width: 7%;
}

#courseBoard-total-hours {
  width: 8%;
}

#courseBoard-total-days {
  width: 9%;
}

#courseBoard-location {
  width: 5%;
}

#courseBoard-edit {
  width: 7%;
  display: flex;
  justify-content: center;
}

.cnt-pages {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  margin: 0 150px;

  color: #999999;
}

ul#pagination{
  display: inline-flex;
  justify-content: center;
  width: 100%;
  font-size: 1.3rem;

  li{
    display: inline;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .activePage{
    text-decoration: underline;
    font-weight: bold;
  }

  .inactivePage a{
    cursor:default;
  }
}