@import "reset.css";

/******************header ***************/

#nav-title-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
}

#header {
    height: 94px;
    width: 100%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

#nav-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

#top-logo {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

#top-logo > img {
    width: 100%;
}

/** menu*/

/* 수강생 관리 */

#nav-ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    align-items: center;
    padding-right: 85px;
}

#dropdown-nav-ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 72%;
    align-items: center;
    padding-right: 85px;
}

.nav-li {
    height: 30px;
    width: 125px;

    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 144%;
    text-align: center;

    color: #1d1d1d;
}

/* nav 아래 내용 */

#header-subject {
    height: 94px;
    width: 100%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.dropdown {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    z-index: 200;
}

.dromdown-ul {
    width: auto;
    padding: 0px;
}

#nav-wrapper-dropdown {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 170px;
    align-items: flex-start;
    background-color: #ffffff;
    z-index: 50;
    position: absolute;
    box-shadow: 0 2px 2px #E7E9F2;

}

.nav-li-dropdown {
    height: 30px;
    width: 137px;

    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 144%;
    text-align: center;

    color: #1d1d1d;

    display: flex;
    flex-direction: column;
    gap: 15px;
}

.line {
    border-top: 1px solid #b8b8b8;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
}

/** 로그아웃, 설정 버튼*/

/* 로그아웃 */

/* identical to box height, or 22px */

#header-btns {
    height: 100%;
    width: 17%;
    display: flex;
    space-between: center;
    align-items: center;
    flex-direction: row;

    padding-right: 10px;
    gap: 10px;

    font-size: 15px;
}

#header-btns > div:first-child {
    width: 65px;
    height: 35px;
}

#header-btns > div:nth-child(2) {
    width: 65px;
    height: 30px;
}

#setting-btn-wrapper {
    padding-bottom: 5px;
}

#setting-btn {
    background-image: url(../assets/Setting.svg);
    background-repeat: no-repeat;
    height: 23px;

    border: 1px solid #ebebeb;
    /*border: 1px solid var(--color_border_in_divider);*/
    background-color: #fff;
    /*background-color: var(--color_button1_bg);*/
    color: #606060;

    width: 98px;
    border-radius: 19px;
    font-size: 1.3rem;
    line-height: 36px;
    text-decoration: none;
    cursor: pointer;
}

#header {
    height: 94px;

    background: #ffffff;
    border-bottom: 1px solid #f3f5f9;

    z-index: 100;
    positon: absolute;
    min-width: 1300px;
}

/** nav*/
#nav-wrapper {
    height: 94px;
}

#top-logo {
    height: 94px;
    width: 15%;

    display: flex;
    flex-direction: row;
    justify-content: start;
}

/* 메뉴(제목) */
#title-wrapper {
    height: 100px;
    min-width: 1300px;
    background-color: rgba(244, 244, 244, 1);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 99;
}

#title {
    /* 공지사항 */
    height: 35px;

    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 144%;
    /* identical to box height, or 35px */
    text-align: center;

    color: #000000;
}

#menu {
    font-family: "Pretendard";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 144%;
    text-align: center;

    color: #000000;
}

/******************* Content-format ***************/
#content-wrapper {
    display: flex;
    flex-direction: column;
}

#content-section {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.board-table {
    width: 100%;
    padding: 0 50px;
}

/****************pageinfo***********/
.page-information {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* .cnt-pages {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  margin: 0 150px 0 150px;

  color: #999999;
} */

/*****************footer***************/

footer {
    height: 200px;
}
