@import "reset.css";

#content-wrapper {
    background-color: #F8F8F8;
    width: 100%;
    min-height: 982px;

}

#main-section {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 32px;
    gap: 32px;
}

#content-wrapper {

}

#manager-course-info-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;

}


#main-manager-info-wrapper {
    height: 260px;
    width: 600px;
    border-radius: 20px;
    background: #FFFFFF;

    padding: 48px 56px;
    box-shadow: 0px 2px 10px rgba(231, 233, 242, 0.7);

    border: #E7E7E7 solid 0.5px;

}

#manager-info-wrapper {
    width: 215px;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    gap: 16px;
    font-size: 20px;

}

.manager-info-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    height: 25px;
    vertical-align: center;
}

.manager-info-item > span:first-child {
    width: 35%;
}

.manager-info-item > span:nth-child(2) {
    text-align: right;
    font-weight: 400;


}

.info-title {
    font-weight: 600;
    font-size: 21px;

    color: #1D1D1D;
}

#manager-info-title {;

}

#manager-contents-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
}

#manager-info-name-wrapper {

}

#manager-info-job-wrapper {

}

.manager-info-item {
    font-weight: 600;
}

#manager-info-job {

}

#manager-info-location-wrapper {

}

.manager-info-item {

}

#manager-info-location {

}

#manager-info-img-wrapper {
    width: 140px;
    height: 150px;
    border: 1px #1D1D1D solid;
}

#attendance-info-wrapper {
    width: 880px;
    height: 814px;
    border-radius: 20px;
    background: #FFFFFF;

    padding: 32px;

    gap: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    box-shadow: 0px 2px 10px rgba(231, 233, 242, 0.7);
    border: #E7E7E7 solid 0.5px;

}

#attendance-info-wrapper > div:first-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

#attendance-title-wrapper {
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 250px;
    align-items: center;
}

#today {
    height: 45px;
    font-weight: 400;
    font-size: 18px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #2d62ea;

}

#course-number-filter {
    width: 90px;
    border: 1px solid #cfcfcf;
    border-radius: 5px;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    background-image: url(../assets/Polygon.svg);
    background-repeat: no-repeat;
    background-size: 12px;
    background-position: right;
    background-position: 60px;

    height: 35px;
    padding-left: 16px;

}

#main-course-info-wrapper {
    width: 600px;
    height: 530px;
    border-radius: 20px;
    background: #FFFFFF;

    padding: 32px;

    gap: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    box-shadow: 0px 2px 10px rgba(231, 233, 242, 0.7);

    border: #E7E7E7 solid 0.5px;

}

#course-info-title > h1 {
    font-weight: 600;
    font-size: 21px;

    color: #1D1D1D;
}


#course-info-location-wrapper {
    height: 35px;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 145px;
    justify-content: space-between;
}

#course-info-location-wrapper > span:first-child {
    font-weight: 600;
}

#course-info-location-wrapper > span:nth-child(2) {
    font-weight: 400;
}

#course-info-item {

}

#course-info-location {

}

#course-info-table {
    width: 100%;
    padding: 0;
    border-bottom: 1px solid #5c5c5c;

    th, td {
        vertical-align: middle;
        text-align: center;
    }

    tr:first-child {
        height: 45px;
        background-color: #f9f9f9;
    }

    th {
        font-weight: 600;
        border-top: 1px solid #5c5c5c;
    }

    tr {
        border-bottom: 0.5px solid lightgray;
        height: 45px;
    }
}

#course-info-table td:first-child,
#course-info-table th:first-child {
    width: 10%;
}

#course-info-table td:nth-child(2),
#course-info-table th:nth-child(2) {
    width: 40%;
}

#course-info-table td:nth-child(3),
#course-info-table th:nth-child(3) {
    width: 10%;
}

#course-info-table td:nth-child(4),
#course-info-table th:nth-child(4),
#course-info-table td:nth-child(5),
#course-info-table th:nth-child(5) {
    width: 20%;
}

#course-table-wrapper {
    width: 100%;
    padding: 0;

    height: 400px;
    overflow-y: scroll;

    ::-webkit-scrollbar {
        width: 10px;
        background-color: black;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #2f3542;
        border-radius: 10px;
        background-clip: padding-box;
        border: 2px solid transparent;
    }
}

#attendance-table {

    th, td {
        vertical-align: middle;
        text-align: center;
    }

    tr:first-child {
        height: 45px;
        background-color: #f9f9f9;
    }

    th {
        font-weight: 600;
        border-top: 1px solid #5c5c5c;
    }

    tr {
        border-bottom: 0.5px solid lightgray;
        height: 45px;
    }
}

#attendance-table td:first-child,
#attendance-table th:first-child {
    width: 15%;
}

#attendance-table td:nth-child(2),
#attendance-table th:nth-child(2) {
    width: 45%;
}

#attendance-table th:nth-child(3),
#attendance-table th:nth-child(3),
#attendance-table td:nth-child(4),
#attendance-table th:nth-child(4) {
    width: 20%;
}