@import 'reset.css';

#notification-body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}

#notification-section {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

/*************button ***************/
#notification-btn-wrapper {
    padding-right: 50px;
    margin: 10px 0 5px 0;
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 10px;
    display: flex;
    width: auto;
    height: 50px;
    align-items: center;
}

.board-filter-search-btn {
    font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 144%;

  width: 100px;
  height: 40px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 16px;
  gap: 10px;

  line-height: 1.5em;
  border-radius: 8px;

  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); */

  box-shadow: 0px 0px 2px #888;
  line-height: 1.5em;

  background: rgba(244, 244, 244, 1);
  color: #000000;

  flex: none;
  order: 0;
  flex-grow: 1;
}


#notification-enroll-btn {
    color: #ffffff;
    background-color: rgb(64, 64, 64);
    border-radius: 8px;
    position: relative;
   right: 10px;
   margin-left:200px;
  top: 40%; 
  display: flex;
  flex-direction: row;
  transform: translateY(-50%);
	width: 80px;
	height: 40px;
  box-shadow: 0px 0px 5px #888;

}

#notification-delete-btn {
    font-weight: 600;
    color: rgb(64, 64, 64);
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
}

/*********** table ***************/
.notification-contents {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 36%;
}

#notification-btn-article {
    /* height: 50px; */
    width: 100%;
}


.search-form-wrapper {
    display: flex;
    width: 450px;
    align-items: center;
}


.notification-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 55px;
    align-items: center;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 144%;
    color: #1d1d1d;
}
.search-input {
    width: 300px;
    height: 41px;

    background: #ffffff;

    border: 1px solid #cfcfcf;
    border-radius: 10px;

    z-index: 1;

    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 144%;

    padding-left: 15px;
    margin-right: 5px;

    color: #000000;
    text-align: center;
}
#notification-table {
    width: 100%;
  padding: 0 100px 0 100px;
}

#notification-title-row {
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 15px;
    line-height: 144% !important;
    text-align: center;
    color: #1d1d1d;
    box-sizing: border-box;
    width: 100%;
    height: 60px;
    background: #ffffff;
    border-bottom: 1px solid #f3f5f9;
    border-radius: 10px 10px 0px 0px;
}


.notificationBoard-no {
    width: 10%;
}

.notificationBoard-title {
    width: 40%;
}

.notificationBoard-enroll-date {
    width: 20%;
}

.notificationBoard-writer {
    width: 20%;
}
.notificaitionBoard-view-count {
	width: 10%;
}
/************page*********/
#notificationBoard-pagenation-section {
    height: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.notificationBoard-page-information {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 45px;
    align-items: center;
}

.cnt-pages-wrapper {
    width: 200px;
}

.cnt-pages {
    width: 100%;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    margin: 0 150px 0 150px;
    color: #999999;
}

.page-arrow-wrapper {
    width: 80px;
    display: flex;
    flex-direction: row;
    justify-contents: space-between;
    align-items: center;
}

.page-arrow-btn {
    width: 25px;
}


.pages {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 400px;
    height: 35px;
}

.page_number-wrapper {
    min-width: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.page_number {
    width: 20px;
}

.selected-page {
    color: #2d62ea;
    font-weight: 800;
'
}

/**********footer***************/
footer {
    height: 200px;
}

/***********notificationPost.html*************/
#notificationPost-section {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.notificationPost-title > span {
    font-size: 17px;
}

.notificationPost-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0 30px 0;
    gap: 30px;
}

.underline {
    background: #ffffff;
    border-bottom: 1px solid #f3f5f9;
    border-radius: 10px 10px 0px 0px;
    justify-content: space-around;
    padding-bottom: 20px;
}

.notification-row {
     display: flex;
  flex-direction: row;
  height: 60px;
  width: 100%;
  align-items: center;
  text-align: center;
  justify-content: space-between;

  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 144%;

  color: #1d1d1d;
}
#notification-title-row {
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 15px;
  line-height: 144% !important;
  text-align: center;
  color: #1d1d1d;
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  background: #ffffff;
  border-bottom: 1px solid #f3f5f9;
  border-radius: 10px 10px 0px 0px;
}

#notificationPost-enroll-date > span {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.33);
}

#notificationPost-no > span {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.33);
}

#notification-contents {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 100px;
}

.notificationPost-content > pre {
    width: 100%;
    font-size: 16.5px;
}

#notificationPost-btn-wrapper {
    margin: 10px 0 5px 0;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    padding-top: 120px;
}

.btn-setting {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 144%;
    width: 57px;
    height: 32px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #eee;
    padding: 5px;
    box-shadow: 0px 0px 3px #888;
    line-height: 1.5em;
}

#enroll-btn {
    color: #ffffff;
    background-color: rgb(64, 64, 64);
    border-radius: 8px;
}

#edit-btn, #delete-btn, #cancel-btn {
    font-weight: 600;
    color: rgb(64, 64, 64);
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
}

/**************** setNotification **********************/
#setNotifications-section {
    padding-top: 25px;
    margin: 0 15% 0 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.setNotification-contents {

}

.setNotification-set-wrapper {
    display: flex;
    flex-direction: column;
}

.setNotification-title-wrapper {
    display: flex;
    justify-content: space-between;
    height: 40px;
    width: 100%;
    margin-bottom: 20px;
}

.setNotification-title-wrapper > h3 {
    width: 10%;
    text-align: center;
    transform: translateY(30%);
}

.setNotification-title-input-wrapper {
    width: 90%;
}

.setNotification-title-input-wrapper > input {
    width: 100%;
    height: 100%;
    background: #ffffff;
    border: 1px solid #cfcfcf;
    border-radius: 10px;
    font-size: 15px;
    padding-left: 20px;
}

.setNotification-input-wrapper {
    height: 600px;
}

.setNotification-input-wrapper > textarea {
    padding: 20px;
    font-size: 15px;
    border: none;
    outline: none;
    resize: none;
    width: 100%;
    height: 100%;
    background: #ffffff;
    border: 1px solid #cfcfcf;
    border-radius: 10px;
}

/*  setNotification button */
#setNotification-btn-wrapper {
    width: 900px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
}

.setNotification-btn-setting {
    border-radius: 6px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 144%;
    color: #ffffff;
    width: 57px;
    height: 32px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 16px;
    gap: 10px;
    background: #eee;
    padding: 5px;
    box-shadow: 0px 0px 5px #888;
    line-height: 1.5em;
}

#setNotification-cancel-btn {
    background-color: rgba(201, 211, 219, 1);
    margin-left: 10px;
}

/*******************notificationPost.jsp********************/
#notification-post-edit-btn {
    color: #ffffff;
    background-color: rgb(64, 64, 64);
    border-radius: 8px;
}

#notification-post-delete-btn {
    font-weight: 600;
    color: rgb(64, 64, 64);
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
}

#setNotification-enroll-btn {
    color: #ffffff;
    background-color: rgb(64, 64, 64);
    border-radius: 8px;
}

#setNotification-concel-btn {
    font-weight: 600;
    color: rgb(64, 64, 64);
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
}