@import 'reset.css';

input:focus {
    outline: none;

    
}

/**모달 **/

.modal-content{
	margin-top: 300px;
	width: 400px;
    height: 200px;
}
.modal-title{
    font-weight: 600;
    text-align: center;
    width: 100%;
}

.modal-body {
    font-size: 20px;
    text-align: center;
    margin: 10px;
    font-weight: 600;
}

.btn-secondary{
	    display: flex;
        justify-content: center;
        align-items: center;
        height: 34px;
        width: 80px;
        padding: 19px 16px;
        font-weight: 600;
        color: #000;
        border: none;
        border-radius: 8px;
        box-shadow: 0px 0px 3px #888;
        background-color: #fff;
}
.save-btn{
	    font-weight: 600;
    color: rgb(64, 64, 64);
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
     height: 34px;
        width: 80px;
            display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid black;
}
#confirm-delete-btn {
    padding: 19px 16px;
    color: #fff;
    box-shadow: 0px 0px 3px #888;
    background-color: rgb(64, 64, 64);
}
.modal-footer{

    justify-content: center;
    border-top: none;
    width: 100%;
}


#notification-body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}


/*************button ***************/
#notification-btn-wrapper {
    padding-right: 50px;
    margin-left:32%;
    display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 20px;
}

.board-filter-search-btn {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 144%;

    width: 100px;
    height: 40px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 16px;
    gap: 10px;

    line-height: 1.5em;
    border-radius: 8px;

    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); */

    box-shadow: 0px 0px 2px #888;
    line-height: 1.5em;

    background: rgba(244, 244, 244, 1);
    color: #000000;

    flex: none;
    order: 0;
    flex-grow: 1;
}


#notification-enroll-btn {
    color: #ffffff;
    background-color: rgb(64, 64, 64);
    border-radius: 8px;
    position: relative;
    right: 10px;
    margin-left: 248px;
    top: 40%;
    display: flex;
    flex-direction: row;
    transform: translateY(-50%);
    width: 80px;
    height: 34px;
    padding: 19px 16px;
    box-shadow: 0px 0px 5px #888;

}

#notification-delete-btn {
    font-weight: 600;
    color: rgb(64, 64, 64);
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
}

/*********** table ***************/
.notification-contents {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

#notification-btn-article {
    /* height: 50px; */
}


.notification-row {
    display: flex;
    flex-direction: row;
    height: 40px;
    width: 80%;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    border-bottom: 0.5px solid lightgray;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 144%;

    color: #1d1d1d;
}

.search-input {
    width: 300px;
    height: 41px;

    background: #ffffff;

    border: 1px solid #cfcfcf;
    border-radius: 10px;

    z-index: 1;

    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 144%;

    padding-left: 15px;

    color: #000000;
    text-align: center;
}

#notification-table {
    width: 80%;
    margin: 0 auto;
    padding: 5px 100px 10px 100px;
    margin-left: 250px;

}


.notificationBoard-title {
    width: 40%;
}

#title-content {
    font-weight: 400;
    text-align: left;
    padding-left: 36px;
}


#notification-title-row {
    font-style: normal !important;
    font-size: 16px;
    line-height: 144% !important;
    text-align: center;
    color: #1d1d1d;
    box-sizing: border-box;
    background: #eee;
    width: 80%;
    height: 40px;
    border-bottom: 1px solid #f3f5f9;
    font-weight: 600;
    border-top: 1px solid #5c5c5c;
}

.notificationBoard-enroll-date {
    width: 15%
}

.notificationBoard-writer {
    width: 10%;
}

.notification-view-count {
    width: 11%;
    padding-right: 36px;
}

/************page*********/
#notificationBoard-pagenation-section {
    height: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.notificationBoard-page-information {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 45px;
    align-items: center;
}

.cnt-pages-wrapper {
    width: 200px;
}

.cnt-pages {
    width: 100%;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    margin: 0 150px 0 150px;
    color: #999999;
}

.page-arrow-wrapper {
    width: 80px;
    display: flex;
    flex-direction: row;
    justify-contents: space-between;
    align-items: center;
}

.page-arrow-btn {
    width: 25px;
}


.pages {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 400px;
    height: 35px;
}

.page_number-wrapper {
    min-width: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.page_number {
    width: 20px;
}

.selected-page {
    color: #2d62ea;
    font-weight: 800;
}

/**********footer***************/
footer {
    height: 200px;
}

/***********notificationPost.html*************/
#notificationPost-section {
    display: flex;
    width: 100%;
    flex-direction: column;
    line-height: 1.5;
}

.notification-title {
    float: left;
}

.notificationPost-title {
    font-size: 20px;
    font-weight: 500;
    text-align: left;
}

.notificationPost-contents {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 30px 0 30px 0;
    gap: 20px;
}

.underline {
    background: #ffffff;
    border-bottom: 0.5px solid lightgray;
    border-radius: 10px 10px 0px 0px;
    justify-content: space-around;
    padding-bottom: 20px;
}


#notificationPost-enroll-date > span {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.33);
}

#notificationPost-no > span {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.33);
}

#notification-contents {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 40px;
    line-height: 1.8;
    min-height: 350px;
}

.notificationPost-content {
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    white-space: normal;
}

#notificationPost-btn-wrapper {
    margin: 10px 0 5px 0;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    padding-top: 120px;
    justify-content: center;
}

.btn-setting {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 144%;
    width: 57px;
    height: 32px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #eee;
    padding: 5px;
    box-shadow: 0px 0px 3px #888;
    line-height: 1.5em;
}

.is-writer {
    display: block; /* Initially show both buttons */

}

.is-writer:not([data-same-button="true"]) {
    display: none; /* Hide buttons with data-show-button attribute set to false */
}

#btn-edit {
    font-weight: 600;
    color: rgb(64, 64, 64);
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
}

#enroll-btn {
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 34px;
    padding: 19px 16px;
    color: #ffffff;
    background-color: rgb(64, 64, 64);
    border-radius: 8px;
}

/* 기본 버튼 스타일 */
.button {
    display: inline-block;
    padding: 10px 15px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-family: sans-serif;
}

/* 모든 버튼에 대한 마우스 오버 효과 */
.button:hover {
    background-color: #eee;
}

/* 개별 버튼 스타일 */
#notificationPost-btn-wrapper#back-btn {
    background-color: #007bff;
    color: #fff;
}

#notificationPost-btn-wrapper > div #btn-edit {
    background-color: #28a745;
    color: #fff;
}

#notificationPost-btn-wrapper > div #delete-btn {
    background-color: #dc3545;
    color: #fff;
}

#edit-btn, #delete-btn, #cancel-btn {
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 34px;
    padding: 19px 16px;
    font-weight: 600;
    color: rgb(64, 64, 64);
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: none;
    box-shadow: 0px 0px 3px #888;
}

/**************** setNotification **********************/
#setNotifications-section {
    padding-top: 25px;
    margin: 0 15% 0 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.setNotification-contents {
    h3 {
        margin-top: 5px;
        font-weight: 500;
    }
}

.setNotification-set-wrapper {
    display: flex;
    flex-direction: column;
}

.setNotification-title-wrapper {
    display: flex;
    height: 40px;
    width: 100%;
    margin-bottom: 20px;
    /*   padding: 0 45px; */
    flex-direction: row;
    justify-content: center;
    gap: 14px;

}

.setNotification-title-wrapper > h3 {
    width: 10%;
    text-align: center;
    transform: translateY(30%);
    font-size: 16px;
    font-weight: 500;
    margin-right: 0px;
}

.setNotification-title-input-wrapper {
    width: 100%;
}

.setNotification-title-input-wrapper > h3 {
    width: 10%;
    text-align: center;
    transform: translateY(70%);
    font-size: 16px;
    font-weight: 500;
    margin-right: 0px;
}

.setNotification-title-input-wrapper > input {
    width: 100%;
    height: 100%;
    background: #ffffff;
    border: 1px solid #cfcfcf;
    border-radius: 10px;
    font-size: 15px;
    padding-left: 20px;

}

.setNotification-input-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 14px;
    width: 100%;
    height: 450px;
}

#title-item {
    width: 50px;
    text-align: center;
}

#content-item {
    width: 50px;
    text-align: center;
}

#content-textarea-wrapper {
    width: 100%;
}

#title-input {
    /* 	 font-size: 15px;
        border: none;
        outline: none;
        resize: none;
        width: 100%;
        height: 100%;
        background: #ffffff;
        border: 1px solid #cfcfcf;
        border-radius: 10px; */
}

#content-input {
    font-size: 15px;
    border: none;
    outline: none;
    resize: none;
    width: 100%;
    height: 100%;
    background: #ffffff;
    border: 1px solid #cfcfcf;
    border-radius: 10px;
    padding: 12px 20px;
    overflow-y: scroll;
}
#menu-btn {
  background-image: url("../assets/arrow_left.svg");
  background-repeat: no-repeat;
  background-size: 12px;
  background-position: left 10px top 7px; /* 이미지 위치 조절 */
  height: 30px;
  width: 150px;
  margin: 0;
  margin-left: -10px;
  display: flex; /* 버튼을 Flexbox 레이아웃으로 설정 */
  align-items: center; /* 버튼 안쪽 요소들을 수직 중앙 정렬 */
  justify-content: space-between; /* 버튼 안쪽 요소들을 좌우 양쪽 끝에 정렬하고, 중간에 여백 발생 */
  padding: 0 30px; /* 버튼 안쪽 여백 설정 */
  font-size: 16px;
}
.enroll-btn-wrapper{
	display: flex;
  flex-direction: row;
  gap: 10px;
margin-left:450px;
  margin-top: 20px;
}
.search-form-wrapper{
	display: flex;
	flex-direction: row;
	gap: 8px;
    margin-left: 200px;
}
.no-data-message{
	font-size: 16px;
	text-align: center;
	color: red;
	padding: 30px;
}
/*  setNotification button */
#setNotification-btn-wrapper {
    width: 756px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
}

.setNotification-btn-setting {
    border-radius: 6px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 144%;
    color: #ffffff;
    width: 57px;
    height: 32px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 16px;
    gap: 10px;
    background: #eee;
    padding: 5px;
    box-shadow: 0px 0px 5px #888;
    line-height: 1.5em;
}

#setNotification-cancel-btn {
    background-color: rgba(201, 211, 219, 1);
    margin-left: 10px;
}

/*******************notificationPost.jsp********************/
#notification-post-edit-btn {
    color: #ffffff;
    background-color: rgb(64, 64, 64);
    border-radius: 8px;
}

#notification-post-delete-btn {
    font-weight: 600;
    color: rgb(64, 64, 64);
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
}

#setNotification-enroll-btn {
    color: #ffffff;
    background-color: rgb(64, 64, 64);
    border-radius: 8px;
}

#setNotification-concel-btn {
    font-weight: 600;
    color: rgb(64, 64, 64);
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
}

ul#pagination {
    display: inline-flex;
    justify-content: center;
    width: 100%;
    font-size: 1.3rem;
        margin-top:20px;

    li {
        display: inline;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        font-size: 16px;
    }

    .activePage {
        text-decoration: underline;
        font-weight: bold;
    }

    .inactivePage a {
        cursor: default;
    }
}

