@import "reset.css";


/**************** addStudentModal *******************/
article {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#addStudent-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(7, 70px);
  width: 460px;
  height: 600px;
  margin: 5px 0px;
  padding: 40px;
  box-sizing: border-box;
  gap: 20px;
}

.student-item > h4,
.student-items-item > h4 {
  margin-bottom: 10px;
  font-weight: bold;
}

.student-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 30px;
}

.student-items-bank {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  column-gap: 30px;
}

.student-item > input {
  width: 100%;
  height: 50px;
  padding: 0 15px;
  box-sizing: border-box;
  border-radius: 6px;
  border: solid #c9d3db;

  font-style: normal;
  font-weight: 400;
}

.student-items-item > input {
  width: 100%;
  height: 50px;
  padding: 0 15px;
  box-sizing: border-box;
  border-radius: 6px;
  border: solid #c9d3db;

  font-style: normal;
  font-weight: 400;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;

  width: 100%;
  height: 50px;
  padding: 0.6em 1.4em 0.5em 1.4em;
  margin: 0;
  border: solid #c9d3db;
  border-radius: 6px;
  background-color: #fff;
}

.gender input[type="radio"] {
  display: none;
}

.gender {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 20px;
  padding-left: 5px;
}

.select {
  margin-left: 10px;
}

.gender > div > input[type="radio"] + label {
  display: inline-block;
  cursor: pointer;
  width: 100%;
  height: 40px;
  border: solid #c9d3db;
  line-height: 38px;
  text-align: center;
  border-radius: 8px;
  margin-top: 5px;
}

.gender > div input[type="radio"] + label {
  background-color: #fff;
  color: #333;
  font-weight: 600;
}

.gender > div input[type="radio"]:checked + label {
  background-color: rgb(64, 64, 64);
  color: #fff;
  box-shadow: 0px 0px 3px rgb(64, 64, 64);
  font-weight: 600;
}

.course_number {
  width: 100%;
  height: 50px;
}

.btn-setting {
  font-style: normal;
  font-weight: 500;
  line-height: 144%;

  width: 57px;
  height: 32px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-left: 150px;

  background: #eee;
  padding: 5px;
  box-shadow: 0px 0px 3px #888;
  line-height: 1.5em;
}

#enroll-btn {
  color: #ffffff;
  background-color: rgb(64, 64, 64);
  border-radius: 8px;
  height: 34px;
  margin-left: 40%;
}

#long-enroll-btn {
  color: #ffffff;
  background-color: rgb(64, 64, 64);
  border-radius: 8px;
  width: 80px;
  height: 34px;
}

#edit-btn,
#delete-btn {
  font-weight: 600;
  color: rgb(64, 64, 64);
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
}

input:focus {
  border-color: #919191;
  outline: none;
}

/****************************/

p {
  margin-top: 30px;
  margin-left: 2px;
}

/**********addAtendanceModal.html*******/

body {
  font-family: "Pretendard";
}

#addAttendance-wrapper {
  width: 750px;
  height: 760px;
  left: 314px;
  top: 120px;
  background: #ffffff;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#addAttendance-main {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: row;
  row-gap: 20px;
  justify-content: center;
}

#student-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 350px;
  gap: 40px;
}

#attendance-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 350px;
  gap: 30px;
}

.student-info-detail {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: space-around;
}

.attendance-info-detail {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 13px;
  justify-content: space-around;
}

.student-info-detail > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.attendance-info-detail > div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.info-title {
  width: 90%;
  height: 40px;
  left: 46px;
  top: 43px;

  font-family: "Pretendard";
  font-style: normal;
  font-weight: bolder;
  font-size: 17px;
  line-height: 144%;
  text-align: center;

  color: #1d1d1d;
}

#attendance-btn-wrapper {
  width: 200px;
  height: 55px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

/******* studentBoard **********/

#studentBoard-body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.student-cnt-pages {
  width: 100%;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  margin-left: 18%;
  color: #999999;
}

.content-article {
  width: 80%;
  height: 495px;
}

/* board-table */
.board-table {
  width: 80%;
  padding: 0;
  border-bottom: 1px solid #5c5c5c;
  th, td {
    vertical-align: middle;
    text-align: center;
  }
  tr:first-child {
    height: 45px;
    background-color: #f9f9f9;
  }
  th{
    font-weight: 600;
    border-top: 1px solid #5c5c5c;
  }
  tr {
    border-bottom: 0.5px solid lightgray;
    height: 45px;
  }
}
.board-table td:nth-child(2), .board-table th:first-child,
.board-table td:nth-child(2), .board-table th:last-child {
  width: 15%;
}
.board-table td:first-child,
.board-table th:first-child {
  width: 24%;
}
.board-table td:nth-child(3),
.board-table td:nth-child(4),
.board-table th:nth-child(3),
.board-table th:nth-child(4) {
  width: 23%;
}

.board-table tr:not(:first-child) {
  cursor: pointer;
}
.board-table tr:not(:first-child):hover {
  /*color: rgb(0, 141, 206);*/
  font-weight: 600;
}


/*************button *****************/

.student-filter-btn-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 20px;
}

.search-form-wrapper {
  display: flex;
  gap: 8px;
  margin-left: 32%;
}

.filter-btn-wrapper {
  width: 100%;
}

.courseId-filter {
  width: 90px;
  height: 41px;

  background: #ffffff;

  border: 1px solid #cfcfcf;
  border-radius: 5px;

  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 144%;

  padding-left: 18px;

  color: #000000;

  background-image: url("../assets/Polygon.svg");
  background-repeat: no-repeat;
  background-size: 12px;
  background-position: right;
  background-position: 55px;
}

.search-input {
  width: 300px;
  height: 41px;

  background: #ffffff;

  border: 1px solid #cfcfcf;
  border-radius: 10px;

  z-index: 1;

  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 144%;

  padding-left: 15px;

  color: #000000;
  text-align: center;
}

.search-input::placeholder {
  background-image: url("../assets/search.svg");
  background-repeat: no-repeat;
  background-size: 19px;
  background-position: left;
}

.filter-search-btn {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 144%;

  width: 100px;
  height: 40px;
  padding: 10px 16px;
  gap: 10px;

  line-height: 1.5em;
  border-radius: 8px;


  box-shadow: 0px 0px 2px #888;
  line-height: 1.5em;

  background: rgba(244, 244, 244, 1);
  color: #000000;

}

.student-btn-wrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-left: 63%;
  margin-top: 20px;
}

.student-btn-setting {
  border-radius: 6px;
  font-style: normal;

  font-weight: 500;
  font-size: 14px;
  line-height: 144%;

  color: #ffffff;

  width: 57px;
  height: 32px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 16px;
  gap: 10px;

  float: right;
  background: #eee;
  padding: 5px;
  box-shadow: 0px 0px 5px #888;
  line-height: 1.5em;
}

.underline {
  background: #ffffff;
  border-bottom: 1px solid #f3f5f9;
  border-radius: 10px 10px 0px 0px;
  padding-bottom: 20px;
}

.attendance-underline {
  background: #ffffff;
  border-bottom: 1px solid #f3f5f9;
  border-radius: 10px 10px 0px 0px;
  padding-bottom: 20px;
}
#student-enroll-btn {
  background-color: rgba(45, 98, 234, 1);
}

#student-edit-btn {
  background-color: rgba(201, 211, 219, 1);
}

/*********** table ****************/

#student-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 0 80px;
}

.board-row {
  display: flex;
  flex-direction: row;
  height: 60px;
  width: 100%;
  align-items: center;
  text-align: center;
  justify-content: space-between;

  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 144%;

  color: #1d1d1d;
}

.board-checkbox {
  width: 10px;
}

#board-title-row {
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 15px;
  line-height: 144% !important;
  text-align: center;

  color: #1d1d1d;

  box-sizing: border-box;

  width: 100%;
  height: 60px;

  background: #ffffff;
  border-bottom: 1px solid #f3f5f9;
  border-radius: 10px 10px 0px 0px;
}

.student-checkbox {
  width: 1%;
}

.student-hrdNetId {
  width: 7%;
}

.student-courseId {
  width: 5%;
}

.student-name {
  width: 5%;
}

.student-birth {
  width: 5%;
}

.student-location {
  width: 5%;
}

.student-bank {
  width: 5%;
}
.student-account {
  width: 10%;
}
.student-phonenumber {
  width: 10%;
}
.student-email {
  width: 10%;
}
.student-completion-status {
  width: 10%;
}

/********************** Pagination **********************/
.page-information {
  width: 100%;
}

#pagination {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 50%;
}

.page-item {
  display: flex;
  gap: 20px;
}


/********************** Student Detail Modal **********************/
#student-detail-modal {
  display: none;
  position: absolute;
  top: 20%;
  left: 33%;
  z-index: 30;
  background-color: #fff;
}
.addAttendanceModal {
  margin: auto;
  border: 1px solid lightgray;
  border-radius: 8px;
}
.modal-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  width: 600px;
  height: 600px;
  padding: 3%;
  box-sizing: border-box;
  border: 1px solid darkblue;
  font-size: 16px;
}
.student-detail-wrapper {
  width: 100%;
  input {
    margin-top: 8px;
  }
}
/* 수강생 상세보기 모달 grid */
.student-detail-wrapper:first-child {
  display: grid;
  grid-template-columns: repeat(2, 150px);
  grid-template-rows: repeat(6, 45px);
  grid-row-gap: 12px;
}
.detail-info-item:first-child {
  grid-row: 1 / span 2;
  grid-column: 1 / span 2;
}
.detail-info-item:nth-child(2) {
  grid-row: 1 / span 2;
  grid-column: 2 / span 3;
  margin-left: 50px;
}
.detail-info-item:nth-child(3) {
  grid-row: 2 / span 3;
  grid-column: 1 / span 2;
}
.detail-info-item:nth-child(4) {
  grid-row: 2 / span 3;
  grid-column: 2 / span 3;
  margin-left: 50px;
}
.detail-info-item:nth-child(5) {
  grid-row: 3 / span 4;
  grid-column: 1 / span 2;
}
.detail-info-item:nth-child(6) {
  grid-row: 3 / span 4;
  grid-column: 2 / span 3;
  margin-left: 50px;
}
.detail-info-item:nth-child(7) {
  grid-row: 4 / span 5;
  grid-column: 1 / span 3;
  input {
    width: 100%;
  }
}
.detail-info-item:nth-child(8){
  grid-row: 5 / span 6;
  grid-column: 1 / span 2;
}
.detail-info-item:nth-child(9){
  grid-row: 5 / span 6;
  grid-column: 2 / span 3;
  margin-left: 50px;
}
.detail-info-item:last-child {
  grid-row: 6 / span 7;
  grid-column: 1 / span 3;
  p {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 600;
  }
}

/* 모달 수강내역 Table */
.modal-table {
  width: 100%;
  padding: 0;
  border-bottom: 1px solid #5c5c5c;
  th, td {
    vertical-align: middle;
    text-align: center;
  }
  tr:first-child {
    height: 45px;
    background-color: #f9f9f9;
  }
  th{
    font-weight: 600;
    border-top: 1px solid #5c5c5c;
  }
  tr {
    border-bottom: 0.5px solid lightgray;
    height: 45px;
  }
}
.modal-table td:first-child,
.modal-table th:first-child {
  width: 20%;
}
.modal-table td:nth-child(2),
.modal-table td:nth-child(4),
.modal-table th:nth-child(2),
.modal-table th:nth-child(4) {
  width: 10%;
}
.modal-table td:nth-child(3),
.modal-table th:nth-child(3){
  width: 35%;
}
.modal-table td:last-child,
.modal-table th:last-child {
  width: 25%;
}

/* 수강생 정보 상세보기 btn wrapper */
.student-detail-wrapper:last-child {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
  .btn {
    color: #ffffff;
    background-color: rgb(64, 64, 64);
    border-radius: 8px;
    height: 34px;
    width: 50px;
  }
  #delete-btn {
    border: 1px solid black;
  }
}

/********************** addStudent.html *****************/
#content-section {
  z-index: 9;
}
.id-chk-wrapper {
  width: 100%;
  display: flex;
  gap: 10px;
  input {
    width: 70%;
    height: 50px;
    padding: 0 15px;
    box-sizing: border-box;
    border-radius: 6px;
    border: solid #c9d3db;
    font-style: normal;
    font-weight: 400;
  }
}

.btn.add-student-modal {
  width: 30%;
  color: #000;
  background: rgba(244, 244, 244, 1);
  padding: 5px 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 2px #888;
}

.chk-result-popup {
  display: none;
  justify-content: center;
  position: absolute;
  top: 40%;
  left: 37%;
  width: 400px;
  height: 180px;
  border: 2px solid #b8b8b8;
  border-radius: 10px;
  z-index: 99;
  background-color: #fff;
}
.popup-content-wrapper {
  display: flex;
  flex-direction: column;
  width: 95%;
  padding: 5%;
  gap: 20px;
  margin-top: 10px;
}
.popup-btn-wrapper {
  display: flex;
  gap: 10px;
  width: 100%;
}
.popup-description-wrapper {
  width: 100%;
  text-align: center;
  font-size: 18px;
  p {
    margin: 0;
  }
}
.popup-btn-wrapper {
  display: flex;
  gap: 10px;
  justify-content: center;
  width: 100%;
  button {
    height: 34px;
    width: 50px;
    color: #000;
    border-radius: 8px;
    background-color: rgba(244, 244, 244, 1);
  }
  button:nth-child(2) {
    width: fit-content;
    padding: 0 13px;
    color: #fff;
    background-color: rgb(64, 64, 64);
  }
}

/**********************attendanceBoard *****************/
/* button */
.attendance-search-btn-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 4%;
  margin-top: 5px;
  margin-left: 5px;
}

.attendance-search-form-wrapper {
  padding-top: 12px;
  margin-left: 35%;
  display: flex;
  align-items: center;
  width: 600px;
  gap: 8px;
}

.attendance-btn-wrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

#attendance-enter-btn {
  background-color: rgba(45, 98, 234, 1);
}
#shelf-registration-btn {
  background-color: rgba(45, 98, 234, 1);
  width: 70px;
}
#attendance-edit-btn {
  background-color: rgba(201, 211, 219, 1);
}

#attendance-content-article {
  margin-left: -40px;
}

.filter-search-btn {
  height: 39px;
}

/* table */
#attendance-contents {
  width: 100%;
  padding: 0 80px 0 80px;
}

.attendance-btn-setting {
  font-style: normal;

  font-weight: 500;
  line-height: 144%;

  color: #ffffff;

  width: 57px;
  height: 32px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10px;

  background: #eee;
  padding: 5px;
  box-shadow: 0px 0px 5px #888;
  line-height: 1.5em;
}

.attendance-checkbox {
  width: 1%;
}

.attendance-courseId {
  width: 5%;
}

.attendance-name {
  width: 5%;
}

.attendance-birth {
  width: 10%;
}

.attendance-duration {
  width: 10%;
}

.attendance-cnt {
  width: 10%;
}

.attendance-cnt-late {
  width: 8%;
}

.attendance-cnt-early-leave {
  width: 8%;
}
.attendance-cnt-go-out {
  width: 8%;
}
.attendance-cnt-absence {
  width: 8%;
}
.attendance-total {
  width: 8%;
}


