<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="../../css/format.css"/>
    <link rel="stylesheet" href="../../css/benefits.css"/>
    <script src="https://code.jquery.com/jquery-3.7.1.slim.js"
            integrity="sha256-UgvvN8vBkgO0luPSUl2s8TIlOSYRoGFAX4jlCIm9Adc=" crossorigin="anonymous"></script>
</head>
<body id="content-wrapper">
<div th:insert="~{common/header :: header}"></div>
<div th:insert="~{common/title :: title ('지원금 정산')}"></div>
<section>
    <article class="search-btn-wrapper">
        <div class="search-form-wrapper">
            <select name="" class="courseId-filter">
                <option value="none">기수</option>

            </select>
            <input placeholder="수강생을 입력하세요" class="search-input"/>
            <button type="button" class="filter-search-btn">검색</button>
        </div>
        <div class="btn-wrapper">
            <button type="button" id="settlement-btn" class="btn-setting">
                정산
            </button>
        </div>
    </article>
    <article>
        <div class="board-table">
            <div class="board-row" id="board-title-row">
                <div class="benefitSettlement-checkbox">
                    <input type="checkbox" name=""/>
                </div>
                <div class="benefitSettlement-courseId">
                    <span>기수</span>
                </div>
                <div class="benefitSettlement-hrd-net-id">
                    <span>hrd-net-id</span>
                </div>
                <div class="benefitSettlement-name">
                    <span>이름</span>
                </div>
                <div class="benefitSettlement-bank">
                    <span>은행</span>
                </div>
                <div class="benefitSettlement-account">
                    <span>계좌번호</span>
                </div>
                <!--                <div class="benefitSettlement-settlement-duration">-->
                <!--                    <span>정산기간</span>-->
                <!--                </div>-->
                <div class="benefitSettlement-training-aid">
                    <span>훈련수당(원)</span>
                </div>
                <div class="benefitSettlement-meal-aid-amount">
                    <span>식비(원)</span>
                </div>
                <div class="benefitSettlement-settlement_aid_amount">
                    <span>정착지원금(원)</span>
                </div>
                <div class="benefitSettlement-total-amount">
                    <span>합계(원)</span>
                </div>
            </div>
            <div style="display: contents" id="benefit-table-contents">
            </div>
        </div>
    </article>
</section>
<section>
    <article class="page-information">
        <div class="benefit-cnt-pages">
            <span>총 2건</span>
        </div>
    </article>
</section>
<footer></footer>
</body>
</html>
