<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Document</title>
    <link rel="stylesheet" href="../../css/format.css"/>
    <link rel="stylesheet" href="../../css/benefits.css"/>
    <script src="https://code.jquery.com/jquery-3.7.1.slim.js"
            integrity="sha256-UgvvN8vBkgO0luPSUl2s8TIlOSYRoGFAX4jlCIm9Adc=" crossorigin="anonymous"></script>
</head>
<body id="content-wrapper">
<div th:insert="~{common/header :: header}"></div>
<div th:insert="~{common/title :: title ('정산 결과 조회')}"></div>
<section id="result-content-section">
    <article class="benefitResult-search-btn-wrapper">
        <div class="benefitResult-search-form-wrapper">
            <div id="benefit-result-settlement-date">
                <input type="date" class="result-settlement-date" id="settlement-date"
                       data-placeholder="정산일"
                       required
                       aria-required="true">
            </div>

            <select name="courseId-filter" class="courseId-filter">
                <option value="none">기수</option>
            </select>
            <input placeholder="수강생을 입력하세요" class="search-input"/>
            <button type="button" class="filter-search-btn">검색</button>
        </div>
        <div id="benefit-result-error"></div>
    </article>
    <article class="page-information">
        <div class="benefitResult-cnt-pages">
        </div>
    </article>
    <article class="benefit-result-board-table">
            <div class="result-board-row" id="board-title-row">
                <div class="benefitSettlementResult-courseId">
                    <span>기수</span>
                </div>
                <div class="benefitSettlementResult-hrd-net-id">
                    <span>hrd-Id</span>
                </div>
                <div class="benefitSettlementResult-name">
                    <span>이름</span>
                </div>
                <div class="benefitSettlementResult-bank">
                    <span>은행</span>
                </div>
                <div class="benefitSettlementResult-account">
                    <span>계좌번호</span>
                </div>
                <div class="benefitSettlementResult-settlement-duration">
                    <span>정산기간</span>
                </div>
                <div class="benefitSettlementResult-training-aid">
                    <span>훈련수당(원)</span>
                </div>
                <div class="benefitSettlementResult-meal-aid-amount">
                    <span>식비(원)</span>
                </div>
                <div class="benefitSettlementResult-settlement_aid_amount">
                    <span>정착지원금(원)</span>
                </div>
                <div class="benefitSettlementResult-total-amount">
                    <span>합계(원)</span>
                </div>
                <div class="benefit-result-settlement-date-row">
                    <span>정산일</span>
                </div>
            </div>
            <div style="display: contents" id="result-contents">
            </div>
    </article>
    <article class="benefit-page-information">
        <ul id="pagination">
            <li>
                <a class="page-link" id="before">
                    <img src="../../assets/navigate_prev_white_24dp%201.svg" alt="이전"/>
                </a>
            </li>
            <!--// 이게 페이지 번호-->
            <ul class="page-item" id="page_number">
            </ul>
            <li class="page-item">
                <a class="page-link" id="next">
                    <img src="../../assets/navigate_next_white_24dp%201.svg" alt="다음"/>
                </a>
            </li>
        </ul>
        </div>
    </article>
</section>
<!--<div th:insert="~{common/searchCourseModal :: searchCourseModal}" id="search-course-modal"></div>-->

<footer></footer>
<script type="text/javascript" th:src="@{/scripts/benefitResultBoard.js}"></script>
</body>
</html>
