<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="https://code.jquery.com/jquery-3.7.1.slim.js"
            integrity="sha256-UgvvN8vBkgO0luPSUl2s8TIlOSYRoGFAX4jlCIm9Adc=" crossorigin="anonymous"></script>
    <title>Document</title>
    <link rel="stylesheet" href="../../css/format.css"/>
</head>
<body id="content-wrapper">
<div th:insert="~{common/header :: header}"></div>
<section id="title-wrapper">
    <h2 id="title">출결 입력</h2>
</section>
<section id="content-section">
    <article class="page-information">
        <div class="cnt-pages">
            <span>총 72개 (1 to 5)</span>
        </div>
    </article>
</section>
<footer></footer>
</body>
</html>
