<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="https://code.jquery.com/jquery-3.7.1.slim.js"
            integrity="sha256-UgvvN8vBkgO0luPSUl2s8TIlOSYRoGFAX4jlCIm9Adc=" crossorigin="anonymous"></script>
    <title>Document</title>
    <link rel="stylesheet" href="../../css/format.css"/>
    <link rel="stylesheet" href="../../css/students.css"/>
</head>
<body id="content-wrapper">
<div th:insert="~{common/header :: header}"></div>
<section id="title-wrapper">
    <h2 id="title">수강 등록</h2>
</section>
<section id="content-section">
    <article>
        <div id="addStudent-wrapper">
            <div class="student-item">
                <h4>이름 *</h4>
                <input type="text" id="user_name"/>
            </div>
            <div class="student-item">
                <h4>HRD-Net ID *</h4>
                <div class="id-chk-wrapper">
                    <input type="text" id="hrd_net_id"/>
                    <button class="btn add-student-modal">ID 등록 여부 확인</button>
                </div>
            </div>
            <div class="student-items">
                <div class="student-items-item">
                    <h4>생년월일 *</h4>
                    <input type="text" id="birth"/>
                </div>
                <div class="student-items-item">
                    <h4>성별 *</h4>
                    <div class="gender">
                        <div>
                            <input type="radio" id="select" name="gender" value="M"/>
                            <label for="select">남성</label>
                        </div>
                        <div>
                            <input type="radio" id="select2" name="gender" value="F"/>
                            <label for="select2">여성</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="student-items">
                <div class="student-items-item">
                    <h4>기수 *</h4>
                    <select name="course_number" id="course_number">
                    </select>
                </div>
                <div class="student-items-item">
                    <h4>주소 *</h4>
                    <input type="text" id="province"/>
                </div>
            </div>
            <div class="student-items-bank">
                <div class="student-items-item">
                    <h4>은행</h4>
                    <input type="text" id="bank"/>
                </div>
                <div class="student-items-item">
                    <h4>계좌번호</h4>
                    <input type="text" id="account"/>
                </div>
            </div>
            <div class="student-item">
                <h4>전화번호 *</h4>
                <input type="text" id="phone_number"/>
            </div>
            <div class="student-item">
                <h4>이메일 *</h4>
                <input type="text" id="email"/>
            </div>
            <button id="enroll-btn" class="btn-setting">등록</button>
        </div>
    </article>
</section>
<footer></footer>

<div class="modal-backdrop"></div>

<!--alert 대체 모달-->
<div id="alert-modal">
    <div class="modal-contents-wrapper">
        <p id="alert-message"></p>
        <button>확인</button>
    </div>
</div>

<!-- HRD-Net Id 중복체크 결과 팝업 - 신규 가입 -->
<div id="freshman-student" class="chk-result-popup">
    <div class="popup-content-wrapper">
        <div class="popup-description-wrapper">
            <p>등록된 HRD-Net ID의 수강생이 없습니다.<br/>수강생 회원가입 후,<br/>수강 등록 가능합니다.</p>
        </div>
        <div class="popup-btn-wrapper">
            <button class="freshman cancel-btn">확인</button>
        </div>
    </div>
</div>

<!-- HRD-Net Id 중복체크 결과 팝업 - 기존 가입 -> 신규 과정 등록 의사 여부 -->
<div id="existed-student" class="chk-result-popup">
    <div class="popup-content-wrapper">
        <div class="popup-description-wrapper">
            <p>해당 HRD-Net ID의 수강생 등록 이력이 있습니다.<br/>입력하신 HRD-Net ID로<br/>신규 수강등록하시겠습니까?</p>
        </div>
        <div class="popup-btn-wrapper">
            <button class="existed cancel-btn">취소</button>
            <button class="existed set-btn">해당 수강생으로 수강신청하기</button>
        </div>
    </div>
</div>

<script>
    function getHrdNetId() {
        return $("#hrd_net_id").val();
    }
    function getCourseNumber() {
        return $("#course_number").val();
    }
    function getInputName() {
        return $("#user_name").val();
    }
    function getBirth() {
        return $("#birth").val();
    }
    function getGender() {
        return $("input[name='gender']:checked").val();
    }
    function getAddress() {
        return $("#province").val();
    }
    function getBank() {
        return $("#bank").val();
    }
    function getAccount() {
        return $("#account").val();
    }
    function getPhoneNumber() {
        return $("#phone_number").val();
    }
    function getEmail() {
        return $("#email").val();
    }
    // 입력한 HRD-Net ID의 등록 여부 결과 팝업 화면에 보여주기
    async function noticeCheckingIdResult(param) {
        if(param.result == "true") {
            $(".modal-backdrop").css("display", "flex");
            $("#existed-student").css("display", "flex");
            // 팝업창 닫기(취소)
            $(".existed.cancel-btn").click(function() {
                $(".modal-backdrop").css("display", "none");
                $("#existed-student").css("display", "none");
            });
            // 등록된 id의 수강생 기본 정보 불러오기
            $(".existed.set-btn").click(async function() {
                $(".modal-backdrop").css("display", "none");
                await getRegisteredStudentBasicInfo(param.data);
                $("#existed-student").css("display", "none");
                await fetchOnGoingCourseList();
            })
        } else if(param.result == "false") {
            $(".modal-backdrop").css("display", "flex");
            $("#freshman-student").css("display", "flex");
            await fetchOnGoingCourseList();
            // 팝업창 닫기(취소)
            $(".freshman.cancel-btn").click(function() {
                $(".modal-backdrop").css("display", "none");
                $("#freshman-student").css("display", "none");
                window.location.href="/ems/students";
            });
        }
    }

    // 입력한 HRD-Net ID의 등록 여부 확인
    async function checkIdRegistered() {
        const myHeaders = new Headers();
        myHeaders.append("Content-Type", "application/json");

        const raw = JSON.stringify({
            "hrdNetId": getHrdNetId(),
        });

        const requestOptions = {
            method: "POST",
            headers: myHeaders,
            body: raw,
            redirect: "follow"
        };

        await fetch("/students/valid-id", requestOptions)
            .then((res) => res.json())
            .then(async(data) => {
                sessionStorage.setItem("isRegisteredStudent", data.result);   // 수강생 등록시, 기존 등록생의 교육과정 수강정보만 추가 or 신규 수강생+교욱과정 등록 추가 구분을 위한 데이터
                await noticeCheckingIdResult(data);
            })
            .catch((error) => console.error(error));
    }
    $(".btn.add-student-modal").click(async function() {
        await checkIdRegistered();
    });

    // HRD-Net ID가 등록되어있는 수강생의 기본 정보 화면에 보여주기
    async function getRegisteredStudentBasicInfo(data) {
        $("#user_name").val(data.name).prop('readonly', true);
        $("#birth").val(data.birth).prop('readonly', true);
        $("#province").val(data.address);
        $("#bank").val(data.bank);
        $("#account").val(data.account);
        $("#phone_number").val(data.phoneNumber);
        $("#email").val(data.email);
        if (data.gender == 'M') {
            $('input[name="gender"][value="M"]').prop('checked', true).prop('disabled', true);
        } else if (data.gender == 'F') {
            $('input[name="gender"][value="F"]').prop('checked', true).prop('disabled', true);
        }
    }

    // 수강생 등록 가능한 현재 진행 중 교육과정 목록 데이터 가져오기
    async function fetchOnGoingCourseList() {
        const myHeaders = new Headers();
        myHeaders.append("Content-Type", "application/json");

        const requestOptions = {
            method: "GET",
            headers: myHeaders,
            redirect: "follow"
        };

        await fetch("/students/on-going-courses", requestOptions)
            .then((res) => res.json())
            .then(async(data) => {
                updateOnGoingCourseList(data.courseList);
            })
            .catch((error) => console.error(error));
    }

    // 수강생 등록 가능한 현재 진행 중 교육과정 목록 select box 의 데이터로 화면에 보여주기
    async function updateOnGoingCourseList(data) {
        let result = `<option>기수를 선택하세요.</option>`;
        for (let i = 0; i < data.length; i++) {
            result += `<option value=${data[i].courseNumber}>${data[i].courseNumber}기 - ${data[i].courseName}</option>`;
        }
        $("#course_number").html("");
        $("#course_number").append(result);
    }

    // 입력한 정보로 수강생 등록하기
    async function fetchSetStudent() {
        const myHeaders = new Headers();
        myHeaders.append("Content-Type", "application/json");

        const raw = ({
            "name": getInputName(),
            "hrdNetId": getHrdNetId(),
            "birth": getBirth(),
            "gender": getGender(),
            "courseNumber": getCourseNumber(),
            "address": getAddress(),
            "bank": getBank(),
            "account": getAccount(),
            "phoneNumber": getPhoneNumber(),
            "email": getEmail()
        });

        const requestOptions = {
            method: "POST",
            headers: myHeaders,
            body: JSON.stringify(raw),
            redirect: "follow"
        };

        await fetch("/students", requestOptions)
            .then((res) => res.json())
            .then(async(data) => {
                return 0;
            })
            .catch((error) => console.error(error));
    }

    // 입력한 정보로 수강생_교육과정 수강내역 등록하기
    async function fetchRegisterCourse() {
        const myHeaders = new Headers();
        myHeaders.append("Content-Type", "application/json");

        const raw = ({
            "courseNumber": getCourseNumber(),
            "hrdNetId": getHrdNetId()
        });

        const requestOptions = {
            method: "POST",
            headers: myHeaders,
            body: JSON.stringify(raw),
            redirect: "follow"
        };

        await fetch("/students/new-course", requestOptions)
            .then((res) => res.json())
            .then(async(data) => {
                console.log(data);
            })
            .catch((error) => console.error(error));
    }
    $("#enroll-btn").click(async function() {
        if(sessionStorage.getItem("isRegisteredStudent") == "true") {
            await fetchRegisterCourse()
                .then(async (response) => {
                    $("#alert-message").text("수강과정 등록이 정상처리되었습니다.");
                    $("#alert-modal").css("display", "flex");
                    $(".modal-backdrop").css("display", "flex");

                    $("#alert-modal button").on("click", function() {
                        $("#alert-modal").css("display", "none");
                        $(".modal-backdrop").css("display", "none");
                        window.location.href="/ems/students";
                    });
                }).catch((error) => {
                    console.error("Error fetchRegisterCourse: 수강생 교육과정 등록 실패", error);
                }).finally(() => {
                    sessionStorage.clear();
                });
        }
    });

</script>

</body>
</html>
