<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="https://code.jquery.com/jquery-3.7.1.slim.js"
            integrity="sha256-UgvvN8vBkgO0luPSUl2s8TIlOSYRoGFAX4jlCIm9Adc=" crossorigin="anonymous"></script>
    <title>Document</title>
    <link rel="stylesheet" href="../../css/format.css"/>
    <link rel="stylesheet" href="../../css/students.css"/>
    <link rel="stylesheet" href="../../css/attendances.css"/>
    <style>
        .page-link {
            width: 10px;
        }
    </style>
</head>
<body id="content-wrapper">
<div th:insert="~{common/header :: header}"></div>
<div th:insert="~{common/title :: title ('출결 조회')}"></div>
<section id="attendance-contents">
    <article class="attendance-search-btn-wrapper">
        <div class="attendance-search-form-wrapper">
            <select name="employment-courseId-filter"
                    class="employment-courseId-filter">
                <option value="course-number" id="course-number">기수</option>
            </select>
            <input placeholder="수강생을 입력하세요" id="input-name" class="student-name-filter" name="name"/>
            <button type="button" class="filter-search-btn">검색</button>
        </div>
    </article>
    <article id="content-section">
        <article id="attendance-content-article" style="padding-left: 70px; margin-left: 0;">
            <div class="student-cnt-pages" style="margin-left: 0"></div>
        </article>
        <article id="content-article">
            <table class="board-table refer-attendance-status">
                <tr>
                    <th class="course-number">기수</th>
                    <th class="course-name">교육과정명</th>
                    <th class="student-name">수강생 이름</th>
                    <th class="hrd-net-id">HRD-Net ID</th>
                    <th class="attendance-duration">교육일수</th>
                    <th class="attendance-cnt">출석</th>
                    <th class="attendance-cnt-late">지각</th>
                    <th class="attendance-cnt-early-leave">조퇴</th>
                    <th class="attendance-cnt-go-out">외출</th>
                    <th class="attendance-cnt-absence">결석</th>
                    <th class="attendance-cnt-acknowledge">출석 인정</th>
                    <th class="attendance-ratio">출석률</th>
                </tr>
            </table>
        </article>
    </article>
    <article class="page-information">
        <ul id="pagination">
            <li>
                <a class="page-link" id="prev"><img src="../../assets/navigate_prev_white_24dp%201.svg" alt="이전"/></a>
            </li>
            <li id="page-number" class="page-item" style="display: flex; gap: 20px"></li>
            <li class="page-item">
                <a id="next" class="page-link"><img src="../../assets/navigate_next_white_24dp%201.svg" alt="다음"/></a>
            </li>
        </ul>
    </article>
</section>

<footer></footer>
<script>
fetch("/courses/course-number-list?excludeExpired=false", {
    method: "GET",
})
    .then((res) => res.json())
    .then((data) => {
        const courseList = data.result;
        let result = '';
        for (const resultElement of courseList) {
            result += `<option value=${resultElement}>${resultElement}</option>`;
        }
        $(".employment-courseId-filter").append(result);

    })
    .catch((error) => console.error(error));

    $(document).ready(async function() {
     $(".employment-courseId-filter").on("change", async function() {
  	courseNumber = $(this).val(); // 'this' refers to the selected dropdown element
	});
        await fetchStudentAttendanceList(1);
    });
	let courseNumber = 0;
    let totalPage = 0;
    let currentPage = 1;
    let currentBlock = 1;
    const pageSize = 10;
    const page = 1;

    function getCourseNumber() {
        if($("#input-course-number").val() == "") {
            return 0;
        }
        return parseInt($(".courseId-filter").val());
    }
    function getStudentName() {
        return $(".student-name-filter").val();
    }

    // 검색한 출결 데이터 목록 가져오기
    async function getAttendanceList(data) {
        let result = `<tr><th className="course-number">기수</th><th className="course-name">교육과정명</th><th className="student-name">수강생 이름</th><th className="hrd-net-id">HRD-Net ID</th><th className="attendance-duration">교육일수</th><th class="attendance-cnt">출석</th><th class="attendance-cnt-late">지각</th><th class="attendance-cnt-early-leave">조퇴</th><th class="attendance-cnt-go-out">외출</th><th class="attendance-cnt-absence">결석</th><th class="attendance-cnt-">출석 인정</th><th class="attendance-ratio">출석률</th></tr>`;
        for (let i = 0; i < data.length; i++) {
            result +=
                `<tr class="board-table-row">
                    <td class="course-number">${data[i][0].courseNumber}</td>
                    <td class="course-name">자바클라우드개발자 교육과정1</td>
                    <td class="student-name">${data[i][0].name}</td>
                    <td class="hrd-net-id">${data[i][0].hrdNetId}</td>
                    <td class="attendance-duration">${data[i][0].totalTrainingDays}</td>
                    <td class="attendance-cnt">${data[i][0].sumAttendance}</td>
                    <td class="attendance-cnt-late">${data[i][0].sumLateness}</td>
                    <td class="attendance-cnt-early-leave">${data[i][0].sumEarlyLeave}</td>
                    <td class="attendance-cnt-go-out">${data[i][0].sumGoOut}</td>
                    <td class="attendance-cnt-absence">${data[i][0].sumAbsence}</td>
                    <td class="attendance-cnt-acknowledge">${data[i][0].sumAcknowledge}</td>
                    <td class="attendance-ratio">${data[i][1]}</td>
                </tr>`;
        }
        $(".board-table.refer-attendance-status").html("");
        $(".board-table.refer-attendance-status").append(result);
    };

    // 검색한 출결 데이터 목록 개수 가져오기
    async function getAmountAttendanceList(data) {
        totalPage = Math.ceil(data / 10);

        let result = '';
        result += `<span class="span-attendance-list-amount">총 ${data}건</span>`;
        $(".student-cnt-pages").html("");
        $(".student-cnt-pages").append(result);

        await updatePagination(totalPage);
    };

    async function fetchStudentAttendanceList(param) {
        const myHeaders = new Headers();
        myHeaders.append("Content-Type", "application/json");

        const raw = JSON.stringify({
            "name": getStudentName(),
            "courseNumber": courseNumber
        });

        const requestOptions = {
            method: "POST",
            headers: myHeaders,
            body: raw,
            redirect: "follow"
        };

        await fetch("/attendances/student-list?page="+param, requestOptions)
            .then((res) => res.json())
            .then(async(data) => {
                let attendanceList = data.attendanceList;
                let amount = data.amount;
                currentPage = data.pageInfo.currentPage;

                await getAttendanceList(attendanceList);
                await getAmountAttendanceList(amount);
            })
            .catch((error) => console.error(error));
    };

    $(".filter-search-btn").click(async function() {
        const myHeaders = new Headers();
        myHeaders.append("Content-Type", "application/json");

        const raw = JSON.stringify({
            "name": getStudentName(),
            "courseNumber": getCourseNumber()
        });

        const requestOptions = {
            method: "POST",
            headers: myHeaders,
            body: raw,
            redirect: "follow"
        };

        await fetchStudentAttendanceList(page);
    });

    // 페이지네이션
    function updatePagination(param) {
        $("#page-number").html("");
        let firstPage = (currentBlock * pageSize) - pageSize + 1;
        let lastPage = totalPage <= currentBlock * pageSize ? totalPage : currentBlock * pageSize;

        for (let i = firstPage; i <= lastPage; i++) {
            let num = i;
            let fontWeight = (num === currentPage) ? 'bold' : 'normal'; // 현재 페이지 번호일 때만 font-weight: bold 적용
            $("#page-number").append(`<li><a class="page-link" style="font-weight: ${fontWeight}" onclick="fetchStudentAttendanceList(${num})">${num}</a></li>`);
        }
    }

    $("#next").click(() => {
        if(currentBlock * pageSize < totalPage) {
            currentBlock ++;
            currentPage = (currentBlock * pageSize) - pageSize + 1;
            updatePagination();
        }
    });

    $("#prev").click(() => {
        if(currentBlock > 1) {
            currentBlock --;
            currentPage = (currentBlock * pageSize) - pageSize + 1;
            updatePagination();
        }
    });
</script>
</body>
</html>
