<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://code.jquery.com/jquery-3.7.1.slim.js"
    integrity="sha256-UgvvN8vBkgO0luPSUl2s8TIlOSYRoGFAX4jlCIm9Adc=" crossorigin="anonymous"></script>
  <title>Document</title>
  <link rel="stylesheet" href="../../css/format.css" />
  <link rel="stylesheet" href="../../css/scholarships.css" />
</head>

<body id="content-wrapper">
  <div th:insert="~{common/header :: header}"></div>
  <div th:insert="~{common/title :: title ('포인트 관리')}"></div>
  <section id="point-section">
    <article class="search-form-wrapper point-search important-search-form-wrapper">
    <div class="search-filter-btn-form">
    <div class="search-filter-form">
      <form action="#" class="seacrch-form important-search-form">
        <div id="filter-button-wrapper">
          <form action="/ems/points">
            <select name="excludeExpired" class="courseId-filter" onChange="updateCourseNumber(event)">
              <option value="true" th:selected="${paging.excludeExpired} == 1">진행중</option>
              <option value="false" th:selected="${paging.excludeExpired} == 0">전체</option>
            </select>
            <select id="courseNumberSelect" name="courseNumber" class="courseId-filter">
              <option value="0">기수</option>
              <option th:each="courseNumber: ${courseNumberList}" th:text="${courseNumber}"
                th:attr="value=${courseNumber}" th:selected="${selectedCourseNumber} == ${courseNumber}">기수 alt</option>
            </select>
            <input id="studentNameInput" name="studentName" placeholder="수강생 이름을 입력하세요" class="search-input"  value=""/>
            <button type="submit" class="filter-search-btn">검색</button>
          </form>
        </div>
      </form>
       </div>
      <div id="button-wrapper" class="important-button-wrapper">
        <button id="point-search-btn" class="btn-setting" onclick="initShowPointModal()">조회</button>
        <button id="enroll-btn" class="btn-setting" onclick="initAddPointModal()">포인트 등록</button>
      </div>
      </div>
    </article>
    <div class="cnt-pages">
      <span th:text="${'총 ' + paging.totalStudentCount +'개'}">총 개수 alt</span>
    </div>
    <article id="point-table-wrapper">
      <div id="point-table">
        <form>
          <div class="point-table-row" id="point-title-row">
            <div id="point-radio-btn">
              <input type="radio" value="hrdNetId" hidden />
            </div>
            <div id="point-table-courseId">
              <span>기수</span>
            </div>
            <div id="point-table-courseName">
              <span>과정</span>
            </div>
            <div id="point-table-birth">
              <span>HRD NET ID</span>
            </div>
            <div id="point-table-name">
              <span>이름</span>
            </div>
            <div id="point-table-total-point">
              <span>총 적립 포인트</span>
            </div>
          </div>
        </form>
        <form>
          <div class="point-table-row" th:each="student : ${studentList}"
            th:attr="data-student-course-seq=${student.studentCourseSeq},data-start-date=${student.courseStartDate},data-end-date=${student.courseEndDate}">
            <div id="point-radio-btn">
              <input name="point-radio-btn" type="radio" value="hrdNetId" />
            </div>
            <div id="point-table-courseId">
              <span th:text="${student.courseNumber}">기수 alt</span>
            </div>
            <div id="point-table-courseName">
              <span th:text="${student.courseName}">과정</span>
            </div>
            <div id="point-table-birth">
              <span th:text="${student.hrdNetId}">hrdnetid alt</span>
            </div>
            <div id="point-table-name">
              <span th:text="${student.name}">이름 alt</span>
            </div>
            <div id="point-table-total-point">
              <span th:text="${student.totalPoint}">총 포인트 alt</span>
            </div>
          </div>
        </form>
      </div>
    </article>
    <article class="page-information">

      <ul id="pagination">
        <li th:classappend="${paging.pageOffset == 1} ? 'inactivePage'">
          <a class="page-link"
            th:href="@{|?page=${paging.pageOffset-1}&excludeExpired=${paging.excludeExpired == 0 ? 'false' : 'true'}&courseNumber=${selectedCourseNumber}&studentName=${searchedStudentName != null ? searchedStudentName : ''}|}">
            <img src="../../assets/navigate_prev_white_24dp%201.svg" alt="이전"/>
          </a>
        </li>
        <li th:each="page: ${#numbers.sequence(0, 9)}"
          th:if="${(paging.pageOffset + page) <= ((paging.totalStudentCount/paging.pageSize) + 1)}"
          th:classappend="${(paging.pageOffset + page) == paging.page} ? 'activePage'" class="page-item">
          <a th:text="${paging.pageOffset + page}" class="page-link"
            th:href="@{|?page=${paging.pageOffset + page}&excludeExpired=${paging.excludeExpired == 0 ? 'false' : 'true'}&courseNumber=${selectedCourseNumber}&studentName=${searchedStudentName != null ? searchedStudentName : ''}|}"></a>
        </li>
        <li class="page-item"
          th:classappend="${(paging.pageOffset + 10) > (paging.totalStudentCount/paging.pageSize)} ? 'inactivePage'">
          <a class="page-link"
            th:href="@{|?page=${paging.pageOffset + 10}&excludeExpired=${paging.excludeExpired == 0 ? 'false' : 'true'}&courseNumber=${selectedCourseNumber}&studentName=${searchedStudentName != null ? searchedStudentName : ''}|}">
            <img src="../../assets/navigate_next_white_24dp%201.svg" alt="다음"/>
          </a>
        </li>
      </ul>
      <!-- 페이징처리 끝 -->
      </div>
    </article>
  </section>
  <footer></footer>



  <!-- 포인트 조회 모달 -->
  <div id="showPointModal" class="course-modal" popover>
    <div id="point-wrapper">
      <div id="main-wrapper">
        <div class="student-info">
          <h1 class="info-title underline">수강생 정보</h1>
          <div class="student-info-detail">
            <div>
              <h4>과정명</h4>
              <h4 id="courseName">과정명 alt</h4>
            </div>
            <div>
              <h4>기수</h4>
              <h4 id="courseNumber">기수 alt</h4>
            </div>
            <div>
              <h4>기간</h4>
              <h4 id="courseDate">date ~ date alt</h4>
            </div>
            <div>
              <h4>이름</h4>
              <h4 id="studentName">studentName alt</h4>
            </div>
          </div>
        </div>
        <div class="total-point-info">
          <h1 class="info-title underline">포인트 적립 내역</h1>
          <div class="total-point-info-detail" id="pointBody">
            <div class="underline">
              <h4>적립일</h4>
              <h4>항목</h4>
              <h4>포인트(점)</h4>
            </div>
           
          </div>
          <div class="total-point line">
            <h3></h3>
            <h3>총 적립 포인트</h3>
            <h3 id="totalPoint">20</h3>
          </div>
        </div>
      </div>
      <button id="point-enroll-btn" class="point-btn-setting" popovertarget="showPointModal"
        popovertargetaction="hide">확인</button>
    </div>
  </div>

  <!-- 포인트 추가 모달 -->
  <!-- <div id="addPointModal" class="course-modal" popover th:insert="~{students/addPointModal :: addPointModal}"></div> -->
  <div id="addPointModal" class="course-modal" popover>
    <div id="main-wrapper">
      <div id="addpoint-wrapper1">
        <div class="student-info">
          <h1 class="info-title underline">수강생 정보</h1>
          <div class="student-info-detail">
            <div>
              <h4>과정명</h4>
              <h4 id="courseName">과정명 alt</h4>
            </div>
            <div>
              <h4>기수</h4>
              <h4 id="courseNumber">기수 alt</h4>
            </div>
            <div>
              <h4>기간</h4>
              <h4 id="courseDate">date ~ date alt</h4>
            </div>
            <div>
              <h4>이름</h4>
              <h4 id="studentName">studentName alt</h4>
            </div>
          </div>
        </div>

        <div class="choose-point-info">
          <h1 class="info-title">선택한 항목</h1>
          <div class="choose-point-info-detail">
            <div class="underline">
              <h4>항목</h4>
              <h4>포인트(점)</h4>
            </div>
            <div class="line">
              <h3>적립 포인트</h3>
              <h3>0</h3>
            </div>
          </div>
        </div>
      </div>

      <div id="addpoint-wrapper2">
        <div class="point-info">
          <div class="info-title underline" id="point-info-name">
            <h1></h1>
            <h1>항목</h1>
            <h1>포인트(점)</h1>
          </div>
          <div id="pointCategoryList" class="point-info-detail">
              <div th:each="pointCategory : ${pointCategoryList}" class="pointCategoryInfo">
                <input type="checkbox" id="pointSeq" name="point" th:value="${pointCategory.pointSeq}"
                  onclick="updateCheckedPointList()" />
                <h4 th:text="${pointCategory.category}" id="pointName">카테고리명 alit</h4>
                <h4 th:text="${pointCategory.point}" id="point">포인트 alt</h4>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div id="point-btn-wrapper">
      <button id="point-enroll-btn" class="point-btn-setting" onclick="addPoint()">등록</button>
      <button id="edit-btn" class="point-btn-setting" popovertarget="addPointModal"
        popovertargetaction="hide">취소</button>
    </div>
  </div>

  <!-- 알림창 모달 -->
  <div id="removeCourseCompleteModal" class="course-modal point" popover>
    <div class="removecourse-wrapper">
      <div class="removecourse-info">
        <h1 class="upperline title">알림</h1>
        <h1 id="message">삭제되었습니다.</h1>
      </div>
      <div id="btn-wrapper">
        <button id="enroll-btn-format" class="btn-setting-format" onclick="location.reload()">확인</button>
      </div>
    </div>
  </div>
  <script>
     $("#pagination li").each((index, item) => {
      if ($(item).hasClass("inactivePage")) {
        let a = $(item).children("a");
        a.removeAttr("href");
      }
    });
    function initAddPointModal() {
      const selectedStudentDiv = getSelectedStudent();
      const modal = getThisModal();
      if (!selectedStudentDiv) {
        return;
      }
      modal.showPopover();
      setStudentData();

      function setStudentData() {
        // console.log(studentDiv);
        const sCSeq = $(selectedStudentDiv).data("studentCourseSeq");
        const courseNumber = $(selectedStudentDiv).find("#point-table-courseId span").text();
        const courseName = $(selectedStudentDiv).find("#point-table-courseName span").text();
        const startDate = $(selectedStudentDiv).data("startDate");
        const endDate = $(selectedStudentDiv).data("endDate");
        const studentName = $(selectedStudentDiv).find("#point-table-name span").text();
        const totalPoint = $(selectedStudentDiv).find("#point-table-total-point span").text();

        $(modal).find("#courseName").text(courseName);
        $(modal).find("#courseNumber").text(courseNumber + "기");
        $(modal).find("#courseNumber").data("courseNumber", courseNumber);
        $(modal).find("#courseDate").text(startDate + " ~ " + endDate);
        $(modal).find("#studentName").text(studentName);
        $(modal).find("#totalPoint").text(totalPoint);
        $(modal).find(".student-info").data("sCSeq",sCSeq);


      }
      function getThisModal() {
        return $("#addPointModal")[0];
      }
    }
    function initShowPointModal() {
      const selectedStudentDiv = getSelectedStudent();
      const modal = getThisModal();
      if (!selectedStudentDiv) {
        return;
      }
      setStudentData();
      setPointHistory();
      modal.showPopover();
      function setPointHistory() {
        const sCSeq = $(selectedStudentDiv).data("studentCourseSeq");

        fetch("/points/student?studentCourseSeq=" + sCSeq)
          .then((response) => response.json())
          .then((data) => {
            let str = `              <div class="underline">
                <h4>적립일</h4>
                <h4>항목</h4>
                <h4>포인트(점)</h4>
              </div>`;
            data.data.forEach(category => {
              str += `<div>
                    <h5>${category.saveDate}</h5>
                    <h5>${category.categoryName}</h5>
                    <h5>${category.point}</h5>
                  </div>`;
              console.log(category);
            });
            $("#showPointModal #pointBody").html(str);
          })
          .catch((error) => console.error(error));
      }
      function setStudentData() {
        // console.log(studentDiv);
        const courseNumber = $(selectedStudentDiv).find("#point-table-courseId span").text();
        const courseName = $(selectedStudentDiv).find("#point-table-courseName span").text();
        const startDate = $(selectedStudentDiv).data("startDate");
        const endDate = $(selectedStudentDiv).data("endDate");
        const studentName = $(selectedStudentDiv).find("#point-table-name span").text();
        const totalPoint = $(selectedStudentDiv).find("#point-table-total-point span").text();

        $(modal).find("#courseName").text(courseName);
        $(modal).find("#courseNumber").text(courseNumber + "기");
        $(modal).find("#courseNumber").data("courseNumber", courseNumber);
        $(modal).find("#courseDate").text(startDate + " ~ " + endDate);
        $(modal).find("#studentName").text(studentName);
        $(modal).find("#totalPoint").text(totalPoint);

      }
      function getThisModal() {
        return $("#showPointModal")[0];
      }
    }
    function getSelectedStudent() {
      return $("input[name='point-radio-btn']:checked").closest(".point-table-row")[0];
    }

    function updateCheckedPointList() {
      const checked = getCheckedPoint();
      str = `<div class="underline">
                <h4>항목</h4>
                <h4>포인트(점)</h4>
              </div>`;
      sum = 0;
      checked.each((i, item) => {

        const pointName = $(item).find("#pointName").text();
        const point = parseInt($(item).find("#point").text()) || 0;
        sum += point;
        str += `<div>
                <h4>${pointName}</h4>
                <h4>${point}</h4>
              </div>`;
      });

      str += `<div class="line">
                <h3>적립 포인트</h3>
                <h3>${sum}</h3>
              </div>`;
      $(".choose-point-info-detail").html(str);
    }

    function addPoint() {
      const checked = getCheckedPoint();
      const sCSeq = $("#addPointModal").find(".student-info").data("sCSeq");
      let promises = [];
      checked.each((i,item) => {
        
        const myHeaders = new Headers();
        myHeaders.append("Content-Type", "application/json");

        const raw = JSON.stringify({
          "pointSeq": $(item).find("#pointSeq").val(),
          "studentCourseSeq": sCSeq
        });

        const requestOptions = {
          method: "POST",
          headers: myHeaders,
          body: raw,
          redirect: "follow"
        };

        promises.push(fetch("/points/student", requestOptions));


      });
      Promise.all(promises)
      .then((results) => {
        showMessage("포인트 등록에 성공하였습니다.");
      }).catch(error => {
        showMessage("일부 포인트 등록에 실패하였습니다.");
      }); 
    }
    async function updateCourseNumber(e){
      const courseNumberList = await getCourseNumberList(e.target.value);
      const courseNumberSelect = $("#courseNumberSelect");
      courseNumberSelect.html("");
      let element = `<option value="` + 0 +`">` + "기수" + `</option>`;
      courseNumberList.forEach(courseNumber => {
        element += `<option value="` + courseNumber +`">` + courseNumber + `</option>`;
      });
      courseNumberSelect.get()[0].innerHTML = element;
    }

    async function getCourseNumberList(excludeExpired){
      const res = await fetch("/courses/course-number-list?excludeExpired=" + excludeExpired);
      const data = await res.json();
      return data.result;
    }
    function getCheckedPoint() {
      return $("#pointCategoryList input[type='checkbox']:checked").map((i, item) => $(item).closest("div")[0]);
    }
    function showMessage(msg) {
      const messageModal = $("#removeCourseCompleteModal").get()[0];
      messageModal.querySelector("#message").innerText = msg;
      messageModal.showPopover();
    }
  </script>
</body>

</html>