<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="https://code.jquery.com/jquery-3.7.1.slim.js"
            integrity="sha256-UgvvN8vBkgO0luPSUl2s8TIlOSYRoGFAX4jlCIm9Adc=" crossorigin="anonymous"></script>
    <title>Document</title>
    <link rel="stylesheet" href="../../css/format.css"/>
</head>
<body id="studentBoard-body">
<link rel="stylesheet" href="../../css/students.css"/>
<div th:insert="~{common/header :: header}"></div>
<div th:insert="~{common/title :: title ('수강생 정보')}"></div>
<section id="student-section">
    <article class="student-filter-btn-wrapper">
        <div class="search-form-wrapper">
            <!-- form???? -->
            <select name="courseId-filter" class="courseId-filter">
                <option value="none">기수</option>
                <option value="227">227</option>
                <option value="191">191</option>
            </select>
            <input placeholder="수강생을 입력하세요" class="search-input"/>
            <button type="button" class="filter-search-btn">검색</button>
        </div>
        <div class="student-btn-wrapper">
            <button type="button" id="enroll-btn" class="student-btn-setting">
                등록
            </button>
            <button type="button" id="edit-btn" class="student-btn-setting">
                수정
            </button>
        </div>
    </article>
    <article>
        <div class="board-table">
            <div class="board-row" id="board-title-row">
                <div class="student-checkbox">
                    <input type="checkbox" name=""/>
                </div>
                <div class="student-hrdNetId">
                    <span>HRD-Net ID</span>
                </div>
                <div class="student-courseId">
                    <span>기수</span>
                </div>
                <div class="student-name">
                    <span>이름</span>
                </div>
                <div class="student-birth">
                    <span>생년월일</span>
                </div>
                <div class="student-location">
                    <span>지역</span>
                </div>
                <div class="student-bank">
                    <span>은행</span>
                </div>
                <div class="student-account">
                    <span>계좌번호</span>
                </div>
                <div class="student-phonenumber">
                    <span>전화번호</span>
                </div>
                <div class="student-email">
                    <span>이메일</span>
                </div>
                <div class="student-completion-status">
                    <span>수료 여부</span>
                </div>
            </div>
            <div class="board-row">
                <div class="student-checkbox">
                    <input type="checkbox" name=""/>
                </div>
                <div class="student-hrdNetId">
                    <span>whfflekdgg</span>
                </div>
                <div class="student-courseId">
                    <span>277</span>
                </div>
                <div class="student-name">
                    <span>김선희</span>
                </div>
                <div class="student-birth">
                    <span>930628</span>
                </div>
                <div class="student-location">
                    <span>경기</span>
                </div>
                <div class="student-bank">
                    <span>신한</span>
                </div>
                <div class="student-account">
                    <span>987987987685</span>
                </div>
                <div class="student-phonenumber">
                    <span>983-989-9896</span>
                </div>
                <div class="student-email">
                    <span>whfflekdgg@gmail.com</span>
                </div>
                <div class="student-completion-status">
                    <span>수료예정</span>
                </div>
            </div>
        </div>
    </article>
    <article>
        <div class="student-cnt-pages">
            <span>총 13건</span>
        </div>
    </article>
</section>
<footer></footer>
</body>
</html>
