<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="https://code.jquery.com/jquery-3.7.1.slim.js"
            integrity="sha256-UgvvN8vBkgO0luPSUl2s8TIlOSYRoGFAX4jlCIm9Adc=" crossorigin="anonymous"></script>
    <title>Document</title>
    <link rel="stylesheet" href="../../css/format.css"/>
    <link rel="stylesheet" href="../../css/students.css"/>
</head>
<body id="studentBoard-body">
<div th:insert="~{common/header :: header}"></div>
<div th:insert="~{common/title :: title ('수강생 정보')}"></div>
<section id="student-section">
    <article class="student-filter-btn-wrapper">
        <div class="filter-btn-wrapper">
            <div class="search-form-wrapper">
                <input placeholder="기수" id="input-course-number" class="courseId-filter" name="courseNumber"/>
                <input placeholder="수강생을 입력하세요" id="input-name" class="search-input" name="name"/>
                <button type="button" class="filter-search-btn">검색</button>
            </div>
            <div class="student-btn-wrapper">
                <button type="button" id="enroll-btn" class="student-btn-setting">
                    등록
                </button>
                <button type="button" id="edit-btn" class="student-btn-setting">
                    수정
                </button>
            </div>
        </div>
        <div class="student-cnt-pages">
            <!--<span>총 13건</span>-->
        </div>
    </article>
    <article class="content-article">  <!--addAttendanceBoard.html의 #content-section-->
        <table class="board-table">
            <tr>
                <th><div><input type="checkbox" class="checkbox all" name="check-all"/></div></th>
                <th class="hrd-net-id">HRD-Net ID</th>
                <th class="course-number">기수</th>
                <th class="student-name">이름</th>
                <th class="student-address">주소</th>
                <th class="student-bank">은행</th>
                <th class="student-account">계좌번호</th>
                <th class="student-phonenumber">전화번호</th>
                <th class="student-email">이메일</th>
                <th class="student-completion-status">수료 여부</th>
            </tr>
        </table>
    </article>
    <article class="page-information">
        <ul id="pagination" style="margin-top: 35px;">
            <li>
                <a class="page-link" id="prev">이전</a>
            </li>
            <li id="page-number" class="page-item" style="display: flex; gap: 20px"></li>
            <li class="page-item">
                <a id="next" class="page-link">다음</a>
            </li>
        </ul>
    </article>
</section>
<footer></footer>
<script>
    // 페이징 관련 멤버 데이터
    let totalPage = 0;
    let currentPage = 1;
    let currentBlock = 1;
    const pageSize = 10;
    // const page = new URL(location.href).search.split("=")[0];
    const page = 1;

    // '등록' 버튼 클릭하면 수강생 등록 페이지로 이동
    $("#enroll-btn").click(function() {
        window.location.href="/ems/students/set";
    });

    function getCourseNumber() {
        if($("#input-course-number").val() == "") {
            return -1;
        }
        return parseInt($(".courseId-filter").val());
    }
    function getStudentName() {
        return $(".search-input").val();
    }

    // 수강생 검색 결과 데이터 가져오기

    // -- 검색 결과 '총 **건' 화면에 연결
    async function getAmountStudentList(data) {
        totalPage = Math.ceil(data/10);   // 페이징 확인을 위해 임시로 '2'해둔 것. 10으로 바꿔야함.

        let result = '';
        result += `<span class="span-attendance-list-amount">총 ${data}건</span>`;
        $(".student-cnt-pages").html("");
        $(".student-cnt-pages").append(result);

        await updatePagination();
    }

    // -- 검색 결과 목록 화면에 연결
    async function getSearchedStudentList(data) {
        let result = `<tr><th><div><input type="checkbox" class="checkbox all" name="check-all"/></div></th><th class="hrd-net-id">HRD-Net ID</th><th class="course-number">기수</th><th class="student-name">이름</th><th class="student-address">주소</th><th class="student-bank">은행</th><th class="student-account">계좌번호</th><th class="student-phonenumber">전화번호</th><th class="student-email">이메일</th><th class="student-completion-status">수료 여부</th></tr>`;
        for(let i=0; i<data.length; i++) {
            result += `<tr class="board-table-row">
                    <td class="student-checkbox">
                        <div><input type="checkbox" name="checkbox" class="check-box" value=""/></div>
                    </td>
                    <td class="hrd-net-id">${data[i].hrdNetId}</td>
                    <td class="course-number">${data[i].courseNumber}</td>
                    <td class="student-name">${data[i].name}</td>
                    <td class="student-address">${data[i].address}</td>
                    <td class="student-bank">${data[i].bank}</td>
                    <td class="student-account">${data[i].account}</td>
                    <td class="student-phonenumber">${data[i].phoneNumber}</td>
                    <td class="student-email">${data[i].email}</td>
                    <td class="student-completion-status">
                        <span>수료예정</span>
                    </td>
                </tr>`;
        }
        $(".board-table").html("");
        $(".board-table").append(result);
        /*$(".table-row-wrapper").html("");
        $(".table-row-wrapper").append(result);*/
    }

    // -- 검색한 수강생 목록 결과 데이터 가져오기
    async function fetchStudentList(param) {
        const myHeaders = new Headers();
        myHeaders.append("Content-Type", "application/json");

        const raw = JSON.stringify({
            "name": getStudentName(),
            "courseNumber": getCourseNumber()
        });

        const requestOptions = {
            method: "POST",
            headers: myHeaders,
            body: raw,
            redirect: "follow"
        };

        await fetch("/students/student-list?page="+param, requestOptions)
            .then((res) => res.json())
            .then(async(data) => {
                let studentList = data.studentList;
                let amount = data.amount;
                console.log(">> studentList");
                console.log(studentList);

                await getSearchedStudentList(studentList);
                await getAmountStudentList(amount);
            })
            .catch((error) => console.error(error));
    };

    $(".filter-search-btn").click(async function() {
        await fetchStudentList(page);
    });

    // 페이지네이션
    function updatePagination(param) {
        $("#page-number").html("");
        let firstPage = (currentBlock * pageSize) - pageSize + 1;
        let lastPage = totalPage <= currentBlock * pageSize ? totalPage : currentBlock * pageSize;

        for (let i = firstPage; i <= lastPage; i++) {
            let num = i;
            $("#page-number").append(`<li><a class="page-link" onclick="fetchStudentList(${num})">${num}</a></li>`);
        }
    }

    $("#next").click(() => {
        if(currentBlock * pageSize < totalPage) {
            currentBlock ++;
            currentPage = (currentBlock * pageSize) - pageSize + 1;
            updatePagination();
        }
    });

    $("#prev").click(() => {
        if(currentBlock > 1) {
            currentBlock --;
            currentPage = (currentBlock * pageSize) - pageSize + 1;
            updatePagination();
        }
    });
</script>
</body>
</html>
