<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="https://code.jquery.com/jquery-3.7.1.slim.js"
            integrity="sha256-UgvvN8vBkgO0luPSUl2s8TIlOSYRoGFAX4jlCIm9Adc=" crossorigin="anonymous"></script>
    <title>Document</title>
    <link rel="stylesheet" href="../../css/format.css"/>
    <link rel="stylesheet" href="../../css/students.css"/>
</head>
<body id="studentBoard-body">
<div th:insert="~{common/header :: header}"></div>
<div th:insert="~{common/title :: title ('수강생 정보')}"></div>
<section id="student-section">
    <article class="student-filter-btn-wrapper">
        <div class="filter-btn-wrapper">
            <div class="search-form-wrapper">
                <input placeholder="기수" id="input-course-number" class="courseId-filter" name="courseNumber"/>
                <input placeholder="수강생을 입력하세요" id="input-name" class="search-input" name="name"/>
                <button type="button" class="filter-search-btn">검색</button>
            </div>
            <div class="student-btn-wrapper">
                <button type="button" id="enroll-btn" class="student-btn-setting">
                    등록
                </button>
                <button type="button" id="edit-btn" class="student-btn-setting">
                    수정
                </button>
            </div>
        </div>
        <div class="student-cnt-pages">
            <span>총 13건</span>
        </div>
    </article>
    <article class="content-article">  <!--addAttendanceBoard.html의 #content-section-->
        <table class="board-table">
            <tr>
                <th><div><input type="checkbox" class="checkbox all" name="check-all"/></div></th>
                <th class="hrd-net-id">HRD-Net ID</th>
                <th class="course-number">기수</th>
                <th class="student-name">이름</th>
                <th class="student-address">주소</th>
                <th class="student-bank">은행</th>
                <th class="student-account">계좌번호</th>
                <th class="student-phonenumber">전화번호</th>
                <th class="student-email">이메일</th>
                <th class="student-completion-status">수료 여부</th>
            </tr>
            <tr class="board-table-row">
                <td class="student-checkbox">
                    <div><input type="checkbox" name=""/></div>
                </td>
                <td class="hrd-net-id">
                    <span>whfflekdgg</span>
                </td>
                <td class="course-number">
                    <span>277</span>
                </td>
                <td class="student-name">
                    <span>김선희</span>
                </td>
                <td class="student-address">
                    <span>경기</span>
                </td>
                <td class="student-bank">
                    <span>신한</span>
                </td>
                <td class="student-account">
                    <span>987987987685</span>
                </td>
                <td class="student-phonenumber">
                    <span>983-989-9896</span>
                </td>
                <td class="student-email">
                    <span>whfflekdgg@gmail.com</span>
                </td>
                <td class="student-completion-status">
                    <span>수료예정</span>
                </td>
            </tr>
        </table>
            <!--<div class="board-row">
                <div class="student-checkbox">
                    <input type="checkbox" name=""/>
                </div>
                <div class="student-hrdNetId">
                    <span>whfflekdgg</span>
                </div>
                <div class="student-courseId">
                    <span>277</span>
                </div>
                <div class="student-name">
                    <span>김선희</span>
                </div>
                <div class="student-birth">
                    <span>930628</span>
                </div>
                <div class="student-location">
                    <span>경기</span>
                </div>
                <div class="student-bank">
                    <span>신한</span>
                </div>
                <div class="student-account">
                    <span>987987987685</span>
                </div>
                <div class="student-phonenumber">
                    <span>983-989-9896</span>
                </div>
                <div class="student-email">
                    <span>whfflekdgg@gmail.com</span>
                </div>
                <div class="student-completion-status">
                    <span>수료예정</span>
                </div>
            </div>-->
    </article>
</section>
<footer></footer>
</body>
</html>
