<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kosta.ems.manager.ManagerMapper">
    <select id="login" resultType="java.util.Map">
        SELECT manager_id managerId, academy_location academyLocation
        FROM managers
        WHERE employee_number = #{employeeNumber}
          and password = #{password}
    </select>
    <select id="findByEmployeeNumber" resultType="com.kosta.ems.manager.ManagerDTO">
        SELECT manager_id       managerId,
               name,
               position,
               is_active        isActive,
               password,
               employee_number  employeeNumber,
               academy_location academyLocation
        FROM managers
        WHERE employee_number = #{employeeNumber}
    </select>
    <select id="findByManagerId" resultType="com.kosta.ems.manager.ManagerDTO">
        select name, position, academy_location as academyLocation, profile_image AS profileImage
        from managers
        where manager_id = #{managerId}
    </select>
    <update id="updateProfileImage">
        UPDATE managers
        SET profile_image=#{profileImg}
        WHERE manager_id=#{managerId}
    </update>
</mapper>
