<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kosta.ems.scholarship.ScholarshipMapper">
    <select id="selectScholarshipTargetList" resultType="com.kosta.ems.scholarship.dto.ScholarshipTargetDTO">
        SELECT distinct s.student_id                      AS studentId,
                        s.hrd_net_id                      AS hrdNetId,
                        s.name,
                        s.bank,
                        s.account,
                        s.manager_id                      AS managerId,
                        s.is_active                       AS isActive,
                        sc.student_course_seq             AS studentCourseSeq,
                        sc.course_seq                     AS courseSeq,
                        c.course_number                   AS courseNumber,
                        c.academy_location                AS academyLocation,
                        c.course_name                     AS courseName,
                        (select settlement_date
                        from view_students_course_scholarship_settlement
                        where student_id = s.student_id
                          and course_seq = sc.course_seq) as settlementDate,
                        (select totalPoint
                        from view_students_course_point
                        where student_id = s.student_id
                          and course_seq = sc.course_seq
                          and pc.is_active = true)        as totalPoint,
                        500000                            as scholarshipAmount
        FROM students s
                 LEFT JOIN students_courses sc ON s.student_id = sc.student_id
                 LEFT JOIN courses c on c.course_seq = sc.course_seq
                 LEFT JOIN students_points sp on sp.student_course_seq = sc.student_course_seq
                 LEFT JOIN point_categories pc on sp.point_seq = pc.point_seq
        WHERE (IF(#{courseNumber}, 0, '기수') = '기수' OR c.course_number = #{courseNumber})
          AND s.name LIKE CONCAT('%', #{name}, '%')
          AND s.is_active = true
          AND c.is_active = true
          AND (select totalPoint
        from view_students_course_point
        where student_id = s.student_id
          and course_seq = sc.course_seq
          and pc.is_active = true) >= 50
          and (select settlement_date
        from view_students_course_scholarship_settlement
        where student_id = s.student_id
          and course_seq = sc.course_seq) is null
        ORDER BY c.course_number desc, name
        limit #{limit} offset #{offset}
    </select>

    <select id="countScholarshipTarget" resultType="int">
        SELECT count(distinct s.student_id) as countBenefitTarget
        FROM students s
                 LEFT JOIN students_courses sc ON s.student_id = sc.student_id
                 LEFT JOIN courses c on c.course_seq = sc.course_seq
                 LEFT JOIN students_points sp on sp.student_course_seq = sc.student_course_seq
                 LEFT JOIN point_categories pc on sp.point_seq = pc.point_seq
        WHERE c.academy_location = #{academyLocation}
          AND s.name LIKE CONCAT('%', #{name}, '%')
          AND s.is_active = true
          AND c.is_active = true
          AND (IF(#{courseNumber}, 0, '기수') = '기수' OR c.course_number = #{courseNumber})
          AND (select totalPoint
        from view_students_course_point
        where student_id = s.student_id
          and course_seq = sc.course_seq
          and pc.is_active = true) >= 50
          and (select settlement_date
        from view_students_course_scholarship_settlement
        where student_id = s.student_id
          and course_seq = sc.course_seq) is null
    </select>

    <insert id="insertScholarshipSettlement">
        insert into scholarships (student_course_seq, manager_id)
        VALUES (#{studentCourseSeq}, #{managerId})
    </insert>

    <select id="selectScholarshipResultList"
            resultType="com.kosta.ems.scholarship.dto.ScholarshipSettlementResultDTO">
        SELECT s.student_id          AS studentId,
               s.hrd_net_id          AS hrdNetId,
               s.name,
               s.bank,
               s.account,
               s.manager_id          AS managerId,
               s.is_active           AS isActive,
               sc.student_course_seq AS studentCourseSeq,
               sc.course_seq         AS courseSeq,
               c.course_number       AS courseNumber,
               c.course_name         AS courseName,
               ssd.settlement_date   AS settlementDate,
               ssd.amount            as scholarshipAmount
        FROM students s
                 LEFT JOIN students_courses sc ON s.student_id = sc.student_id
                 LEFT JOIN courses c ON c.course_seq = sc.course_seq
                 LEFT JOIN scholarships ssd ON ssd.student_course_seq = sc.student_course_seq
        WHERE (IF(#{courseNumber}, 0, '기수') = '기수' OR c.course_number = #{courseNumber})
          AND s.is_active = true
          AND c.academy_location = #{academyLocation}
          AND s.name like CONCAT('%', #{name}, '%')
          AND s.is_active = true
          AND c.is_active = true
          AND (#{settlementDate} IS NULL OR #{settlementDate} = '' OR
               settlement_date = #{settlementDate})
          AND settlement_date != ''
          AND ssd.is_active = true
        ORDER BY ssd.settlement_date desc, c.course_number desc, s.name
        limit #{limit} offset #{offset};
    </select>

    <select id="countScholarshipResult" resultType="int">
        SELECT count(s.student_id) as countResult
        FROM students s
                 LEFT JOIN students_courses sc ON s.student_id = sc.student_id
                 LEFT JOIN courses c ON c.course_seq = sc.course_seq
                 LEFT JOIN scholarships ssd ON ssd.student_course_seq = sc.student_course_seq
        WHERE (IF(#{courseNumber}, 0, '기수') = '기수' OR c.course_number = #{courseNumber})
          AND s.is_active = true
          AND c.academy_location = #{academyLocation}
          AND s.name like CONCAT('%', #{name}, '%')
          AND s.is_active = true
          AND c.is_active = true
          AND (#{settlementDate} IS NULL OR #{settlementDate} = '' OR
               settlement_date = #{settlementDate})
          AND settlement_date != ''
          and ssd.is_active = true
    </select>

</mapper>
