<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kosta.ems.student.StudentMapper">
    <select id="selectStudentByName" parameterType="string" resultType="com.kosta.ems.student.StudentCourseInfoDTO">
        select s.student_id         as studentId,
               hrd_net_id           as hrdNetID,
               name,
               birth,
               address,
               bank,
               account,
               phone_number         as phoneNumber,
               email,
               gender,
               manager_id           as managerId,
               is_active            as isActive,
               c.student_course_seq as studentCourseSeq,
               c.course_seq         as courseSeq
        from students s
                 left join students_courses c on s.student_id = c.student_id
        where s.name = '%' + #{name} + '%'
          and is_active = 'T'
    </select>

</mapper>
