<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kosta.ems.studentLogin.UserMapper">
    <select id="getLoginInfo" resultType="com.kosta.ems.studentLogin.StudentDTO">
        select hrd_net_id as hrdNetId, password
        from students
        where hrd_net_id = #{hrdNetId}
    </select>

    <select id="studentLogin" resultType="java.lang.String">
        select student_id as studentId
        from students
        where hrd_net_id = #{hrdNetId}
        and password = #{password}
        and is_active = true;
    </select>

    <update id="setRefreshToken">
        update students
        set refresh_token = #{refreshToken}
        where hrd_net_id = #{hrdNetId}
    </update>

    <select id="getRefreshToken" resultType="java.lang.String">
        select refresh_token
        from students
        where hrd_net_id = #{hrdNetId}
    </select>

    <select id="findByToken" resultType="com.kosta.ems.studentLogin.StudentDTO">
        select hrd_net_id as hrdNetId,
               student_id as studentId
        from students
        where refresh_token = #{refreshToken}
    </select>

    <update id="removeToken">
        update students
        set refresh_token = null
        where hrd_net_id = #{hrdNetId};
    </update>

    <select id="selectStudentListBycourseSeq" parameterType="int">
        select s.student_id as studentId,
        sc.course_seq as courseSeq,
        c.course_number as courseNumber
        from students s
        inner join students_courses sc on s.student_id = sc.student_id
        inner join courses c on sc.course_seq = c.course_seq
        where c.course_seq = #{courseSeq};
    </select>

</mapper>
